@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@font-face{
    font-family: 'Grandista';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Grandista.otf')  format('truetype'), /* Safari, Android, iOS */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Grandista","Yesteryear","Courier-New",sans-serif;
}

/* *:focus{
    outline: none;
} */

a{
    text-decoration: none;
    color: black;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}
.clear-fix{zoom: 1;}
.clear-fix::after{
    content: "";
    clear: both;
    display: block;
}

.btn{
    
    padding: 12px 20px;
    text-transform: uppercase;
    
}
.btn-ghost{
    border: 1px solid #ee00ff;
    color: #ee00ff;
    font-weight: 400;
}

.btn-full{
    border: 1px solid #ee00ff;
    color:white;
    font-weight: bold;
    background-color: #ee00ff;
}

/************************************************************************************/
/*****************************HEADER*************************************************/
/*************************************************************************************/
header{
    height: 100vh;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.main-nav{
    list-style: none;
}
.main-nav li{
    display: inline-block;
    margin-right: 30px;
}
.main-nav li:last-child{
    margin-right: 0;
}

.header-hero{
    display:flex;
    flex-direction: row;
    height: 430px;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.hero-text-box{
    width: 30%;
}

.hero-text-box >h2{
    font-size: 220%;
    font-family: "Yesteryear";
    font-weight: 400;
    margin-bottom: 10px;
}
.hero-text-box p{
    font-size: 100%;
    font-family: "Lato";
    margin-bottom: 12%;
    font-weight: 200;
}
.hero-text-box a{
    padding: 10px 20px;
    background-color: #ee00ff;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;

}
.image-box{
    margin-top: 4%;
    background-image:url('/Images/cake3.jpg');
    background-position:center;
    border: none;
    filter: grayscale(0.3);
    opacity: 0.95;
    box-shadow: inset 40px 40px 50px 20px white;
    background-size: cover;
    margin-left: auto;
    max-width: auto;
    max-height: auto;
    height:400px;
    width: 550px;
}

.header-bottom{
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
}
.header-number{
    margin-left: 10px;
    display: flex;
    font-size: 20px;
    flex-direction: column;
}


.header-number a{
    color: gray;
    font-size: 80%;
    margin-bottom: 13px;
    position: relative;
}
.header-number .attach {
    color:#ee00ff;
}
.attach::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 21px;
    width: 23px;
    height: 2px;
    background-color: #ee00ff;
}

.bottom-pics ul{
    list-style: none;
    margin-right: 10px;
}
.bottom-pics ul  li {
    display: inline-block;
    margin-right: 30px;
    opacity: 0.8;
}

.bottom-pics ul li img{
    width: 90px;
    border-radius: 10px;
    height: 90px;
}



/************************************************************************************/
/******************************DISCOVER SECTION**************************************/
/************************************************************************************/

.discover-section{
    padding: 80px 0;
}
.side-box{
    padding: 10px;
}

.side-box:first-child{
    height: 510px;
    margin-right: 5%;
    width: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pulse-icon{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
	transform: scale(1);
    animation: pulse 2s infinite;
}
.pulse-icon ion-icon{
    color: #ee00ff;
}

.side-box:first-child img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
}

.side-box:last-child{
    margin-top: 10%;
}
.side-box:last-child h2{
    font-size: 150%;
    word-spacing: 10px;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom:20px;
    font-family: "Lato";
}

.side-box:last-child p{
    color: black;
    text-align: left;
    font-weight: 200;
    font-family: "Lato";
    text-transform: initial;
}

.first{
    color: rgba(0, 0, 0, 0.589);
    margin-bottom: 5%;
}
.last{
    color: black;
    margin-bottom: 10%;
}



/************************************************************************************/
/******************************FOOD GALLERY**************************************/
/************************************************************************************/

.gallery-section{
    padding: 80px 0;
}
.gallery-header{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 25px;
}
.gallery-header h2{
    font-size: 200%;
    font-family: "Lato";
    margin-bottom: 10px;
}

.gallery-header p{
    margin-bottom: 30px;
}

.cake-pictures{
    list-style: none;
    width: 100%;
}

.cake-pictures-top li{
    display: inline-block;
    width: 45%;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    position:  relative;
    margin-left: 30px;
}



.cake-pictures-top img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ee00ff;
}

.overlay .cake-caption{
    position:absolute;
    bottom: 0;
    left: 20px;
    margin-bottom: 20px;
    display: block;
    color: white;
}

.cake-caption h3{
    font-size: 130%;
    font-weight: bold;
    font-family: "Lato";
}
.cake-caption p{
    font-weight: bolder;
    font-size: 100%;
}

  .cake-pictures-top li:hover .overlay {
      opacity: 0.45;
      display: block;
  }

.cake-pictures-down li{
    display: inline-block;
    cursor: pointer;
    position:  relative;
    width: 30%;
    margin-right: 1%;
    transition: all .2s ease-in;
    margin-left: 20px;
}

.cake-pictures-down img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    
}


.cake-pictures-down li:hover .overlay {
    opacity: 0.8;
    display: block;
}

.see-more{
    color: red;
    text-align: center;
}

.gallery-section a{
    text-align: center;
    display: inline-block;
    margin-top: 4%;
    margin-left: 45%;
}



/************************************************************************************/
/******************************TETIMONY**************************************/
/************************************************************************************/
.testimony-section{
    padding: 100px 0;
}

.custom-row{
    width: 700px;
    margin: 0 auto;
    padding: 10px;
}

.people{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 10px;

}
.person h3{
    margin-top: 20px;
    font-weight: bold;
}

.rating{
    margin-top: 5px;
}
.profile{
    background-color: white;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(70, 68, 68, 0.473);
    padding: 5px;
    border-radius: 50%;
}

.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testimony{
    margin-left: 10%;
    align-self: flex-start;
    margin-top: 30px;
}

.rating i{
color: black;
}

.move-buttons{
    text-align: center;
    margin-top: 5%;
    
}
.move-buttons a{
    color: #ee00ff;
}

.move-left{
margin-right: 10%;
}



/************************************************************************************/
/******************************ORDER HERE**************************************/
/************************************************************************************/
.order-section{
    padding: 40px 0;
}

.order-box > h2{
    font-size: 200%;
    margin-top: 20px;

}

.order-box:first-child{
    width: 500px;
    margin-right: 4%;
}

.order-box > p{
    margin-top: 20px;
}

.pickers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7%;
}

.date-time-picker{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.date,.time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid black;
    padding: 10px 5px;
    width: 45%;
    margin-right: 7%;
}
.time{
    margin-right: 0;
}

input[type="date"],input[type="time"]{
    border: none;
    text-align: center;
    margin-left: 10px;
}
.left-con{
    margin-left: 10px;
}

input[type="date"]:focus,input[type="time"]:focus{
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    background: url(/Images/dropdown.png) center/60% no-repeat;
    color: rgb(255, 255, 255);
    opacity: 1
}

/* input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    opacity: 0.8
} */

.location-dropdown{
    width: 98%;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    padding: 10px;
}
.location-dropdown i{
    margin-left: 10px;
}
.location-dropdown h6{
    font-weight: 300;
    margin-left: 30px;
}
.location-dropdown ion-icon:last-child{
    margin-left: 69%;
}

.order-box > a{
    margin-top: 12%;
    display: inline-block;
}

/************************************************************************************/
/******************************FOOTER**************************************/
/************************************************************************************/

footer{
    padding: 120px 150px;
    border: none;
    color: black;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.89),rgba(255, 255, 255, 0.836)),url('/Images/cake3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 20px 30px 50px white;
}
.footer-box{
    z-index: 999;
    text-align: center;
    color: black;
}

.special-e{
    color: #ee00ffd0;
    font-size: 100%;
}


.footer-box > h2, .footer-box-1 > h2{
    font-size: 110%;
    margin-bottom: 20px;
}


.footer-box-1 > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-weight: 300;
}

.footer-box-1 div > ion-icon{
    font-size: 20px;
    margin-right: 10px;
}
.social-icons{
    margin-top: 20px;
}
.social-icons ion-icon{
    margin-left: 10px;
    transition: all ease-in 0.3s;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
}
.social-icons ion-icon:first-child{
    margin-left: 0;
}

.social-icons ion-icon:hover{
    background-color: #ee00ff;
    color: white;
}
.footer-box ul {
    list-style: none;
}

.footer-box ul li{
    display: block;
    margin-top: 15px;
    cursor: pointer;
}

footer p{
    text-align: center;
    margin-top: 7%;
}



/************************************************************************************/
/******************************KEYFRAMES**************************************/
/************************************************************************************/

@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.308);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.7);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.26);
	}
}