@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,70,400;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@font-face{
    font-family: 'Grandista';
    src: url('/fonts/Grandista.ttf')  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Lato","Courier-New",sans-serif;
}

/* *:focus{
    outline: none;
} */

a{
    text-decoration: none;
    color: black;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}
.clear-fix{zoom: 1;}
.clear-fix::after{
    content: "";
    clear: both;
    display: block;
}

.btn{
    padding: 15px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 400;
    font-family: "Lato";
}
.btn-ghost{
    border: 2px solid #ee00ff;
    color: #ee00ff;
    
}

.btn-full{
    border: 1px solid #ee00ff;
    color:white;
    font-weight: bold;
    background-color: #ee00ff;
}

/************************************************************************************/
/*****************************HEADER*************************************************/
/*************************************************************************************/
header{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.cake-e{
    color: #ee00ff;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: "Lato";
}

.main-nav{
    list-style: none;
}
.main-nav li{
    display: inline-block;
    margin-right: 30px;
}
.main-nav li a{
    color: rgba(75, 72, 72, 0.747);
    font-weight: 400;
    font-family: "Lato";
    border: none;
    transition: all ease 0.2s;
}
.li-hover:hover{
    background-color: rgb(255, 255, 255);
    color: #ee00ff;
    box-shadow: 0 0 10px 1px rgba(202, 202, 202, 0.603);
    padding: 5px 15px;
}

.main-nav li:last-child{
    margin-right: 0;
    position: relative;
}

.cart::before{
    content: "";
    position: absolute;
    bottom:0px;
    right:-5px;
    width: 10px;
    height: 10px;
    font-weight: bolder;
    background-color: #ee00ff;
    border-radius: 50%;
    color: white;
}

.header-hero{
    display:flex;
    flex-direction: row;
    height: 430px;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.hero-text-box{
    width: 30%;
}

.hero-text-box >h2{
    font-size: 170%;
    font-family: "Grandista";
    font-weight: 400;
    margin-bottom: 15px;
    color: rgba(75, 72, 72, 0.747);
    word-spacing: 5px;
    text-transform: capitalize;

}
.hero-text-box p{
    font-size: 100%;
    font-family: "Lato";
    margin-bottom: 12%;
    color: rgba(75, 72, 72, 0.747);
    font-weight: 400;
}
.hero-text-box a{
    padding: 15px 30px;
    background-color: #e709a4;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 70%;
}
.triangle{
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 0.3;
    top: 20px;
    transition: all ease 0.3s;
    animation: rotate 4s linear infinite;
    left: 30px;
}
.triangle:nth-child(1){
    
   
}
.triangle:nth-child(2){
    top:480px;
    left: 500px;
    
}
.triangle:nth-child(3){
    top: 70%;
    left: 95%;
}


.image-box{
    margin-top: 4%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.158) 0%, rgba(213, 224, 227, 0.253) 100%),url('/Images/cake3.jpg');
    background-position:center;
    border: none;
    filter: grayscale(0.3);
    opacity: 0.95;
    /* border-radius: 25% 25% 0 0; */
    box-shadow: inset 40px 40px 60px 50px white;
    background-size: cover;
    margin-left: auto;
    max-width: auto;
    max-height: auto;
    height:400px;
    width: 550px;
}

.header-bottom{
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 1.5%;
    justify-content: space-between;
    align-items: center;
}
 .timeline__nav {
     margin-left: 10px;
 }
 .timeline__nav ul{
     list-style: none;
 }
  .timeline__nav ul li {
    margin: 3px 0;
    color: #bfc1c3;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }
  .timeline__nav ul li span{
      font-size: 12px;
  }
  .timeline__nav ul li.active {
    font-weight: bold;
    color: #e709a4;
    border-bottom: 1px solid #e709a4;
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
  }
  .timeline__nav ul li:hover {
    color: #000;
  }

.timeline__section{
    overflow-x: auto; 
    overflow-y: hidden; 
    width: 400px;
    margin-left: 20px;
    transition:all .5s ease;
    padding: 10px;
    white-space: nowrap; 
  }
.wrapper img{
    width: 90px;
    display:inline-block;
    border-radius: 10px;
    height: 90px;
    opacity:0.8;
    cursor:pointer;
    margin: 0 7px;
    background:black
} 


/************************************************************************************/
/******************************DISCOVER SECTION**************************************/
/************************************************************************************/

.discover-section{
    padding: 80px 0;
}
.side-box{
    padding: 10px;
}

.side-box:first-child{
    height: 510px;
    margin-right: 5%;
    width: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pulse-icon{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
	transform: scale(1);
    animation: pulse 2s infinite;
}
.pulse-icon ion-icon{
    color: #ee00ff;
}

.side-box:first-child img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
}

.side-box:last-child{
    margin-top: 10%;
}
.side-box:last-child h2{
    font-size: 170%;
    word-spacing: 10px;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom:20px;
    font-family: "Grandista";
    color: rgba(75, 72, 72, 0.747);
}

.side-box:last-child p{
    color: rgba(75, 72, 72, 0.747);
    text-align: left;
    font-weight: 400;
    font-family: "Lato";
    text-transform: initial;
}

.first{
    color: rgba(0, 0, 0, 0.589);
    margin-bottom: 5%;
}
.last{
    color: black;
    margin-bottom: 10%;
}



/************************************************************************************/
/******************************FOOD GALLERY**************************************/
/************************************************************************************/

.gallery-section{
    padding: 80px 0;
}
.gallery-header{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 25px;
}
.gallery-header h2{
    font-size: 200%;
    font-family: "Grandista";
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.589);
    letter-spacing: 3px;
    word-spacing: 3px;
}

.gallery-header p{
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.589);
    font-family: "Lato";
    font-weight: 400;
}

.cake-pictures{
    list-style: none;
    width: 100%;
}

.cake-pictures-top li{
    display: inline-block;
    width: 45%;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    position:  relative;
    margin-left: 30px;
}



.cake-pictures-top img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ee00ff;
}

.overlay .cake-caption{
    position:absolute;
    bottom: 0;
    left: 20px;
    margin-bottom: 20px;
    display: block;
    color: white;
}

.cake-caption h3{
    font-size: 130%;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
}
.cake-caption p{
    font-weight: 400;
    font-size: 100%;
    font-family: sans-serif;
    color: white;
}

  .cake-pictures-top li:hover .overlay {
      opacity: 0.65;
      display: block;
  }

.cake-pictures-down li{
    display: inline-block;
    cursor: pointer;
    position:  relative;
    width: 30%;
    margin-right: 1%;
    transition: all .2s ease-in;
    margin-left: 20px;
}

.cake-pictures-down img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    
}


.cake-pictures-down li:hover .overlay {
    opacity: 0.8;
    display: block;
}

.see-more{
    color: red;
    text-align: center;
}

.gallery-section a{
    text-align: center;
    display: inline-block;
    margin-top: 4%;
    margin-left: 45%;
}



/************************************************************************************/
/******************************TETIMONY**************************************/
/************************************************************************************/
.testimony-section{
    padding: 140px 0;
}
.carousel{
    position: relative;
    height: 350px;
    width: 60%;
    margin: 0 auto;
    background-color: red;
}

.carousel__image{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.carousel_track-container{
    background-color:blue;
    position: relative;
    height: 100%;
} 
.carousel__track{
    list-style: none;
}

.carousel_slide{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.move-buttons{
    
}





/************************************************************************************/
/******************************ORDER HERE**************************************/
/************************************************************************************/
.order-section{
    padding: 40px 0;
}

.order-box > h2{
    font-size: 200%;
    margin-top: 20px;

}

.order-box:first-child{
    width: 500px;
    margin-right: 4%;
}

.order-box > p{
    margin-top: 20px;
}

.pickers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7%;
}

.date-time-picker{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.date,.time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid black;
    padding: 10px 5px;
    width: 45%;
    margin-right: 7%;
}
.time{
    margin-right: 0;
}

input[type="date"],input[type="time"]{
    border: none;
    text-align: center;
    margin-left: 10px;
}
.left-con{
    margin-left: 10px;
}

input[type="date"]:focus,input[type="time"]:focus{
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    background: url(/Images/dropdown.png) center/60% no-repeat;
    color: rgb(255, 255, 255);
    opacity: 1
}

/* input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    opacity: 0.8
} */

.location-dropdown{
    width: 98%;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    padding: 10px;
}
.location-dropdown i{
    margin-left: 10px;
}
.location-dropdown h6{
    font-weight: 300;
    margin-left: 30px;
}
.location-dropdown ion-icon:last-child{
    margin-left: 69%;
}

.order-box > a{
    margin-top: 12%;
    display: inline-block;
}

/************************************************************************************/
/******************************FOOTER**************************************/
/************************************************************************************/

footer{
    padding: 120px 150px;
    border: none;
    color: black;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.89),rgba(255, 255, 255, 0.836)),url('/Images/cake3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 20px 30px 50px white;
}
.footer-box{
    z-index: 999;
    text-align: center;
    color: black;
}

.special-e{
    color: #ee00ffd0;
    font-size: 100%;
}


.footer-box > h2, .footer-box-1 > h2{
    font-size: 110%;
    margin-bottom: 20px;
}


.footer-box-1 > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-weight: 300;
}

.footer-box-1 div > ion-icon{
    font-size: 20px;
    margin-right: 10px;
}
.social-icons{
    margin-top: 20px;
}
.social-icons ion-icon{
    margin-left: 10px;
    transition: all ease-in 0.3s;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
}
.social-icons ion-icon:first-child{
    margin-left: 0;
}

.social-icons ion-icon:hover{
    background-color: #ee00ff;
    color: white;
}
.footer-box ul {
    list-style: none;
}

.footer-box ul li{
    display: block;
    margin-top: 15px;
    cursor: pointer;
}

footer p{
    text-align: center;
    margin-top: 7%;
}



/************************************************************************************/
/******************************KEYFRAMES**************************************/
/************************************************************************************/

@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.308);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.7);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.26);
	}
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}