.section-about{
    padding: 8rem 0;
    // background-color: red;
    // margin-top: -2rem;
    // background: linear-gradient(-25deg, white 25%,$color-primary-light 25%,$color-primary 71.9%,white 63%);
    
}

.section-services{
    padding: 8rem 0;
    // background: linear-gradient(25deg, white 25%,$color-primary 25%,$color-primary-light 66.5%,white 65%);
}

.about{

    &__text{
    //   background-color: red;
      padding: 2rem;
      margin-top: 8rem;
    }
    &__imagePlaceholder{
        padding: 1rem;
    }

    &__image{
        width: 70%;
    }
   
}