@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,900&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/****************************************************************************************/


/******************************** GLOBAL STYLESS ***************************************/


/***************************************************************************************/

html {
    font-size: 70%;
    /* 10px */
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

h2 {
    color: black;
}

a {
    text-decoration: none;
}

.row {
    max-width: 110rem;
    margin: 0 auto;
}


/****************************************************************************************/


/******************************** HEADER STYLES***************************************/


/***************************************************************************************/

header {
    background-image: linear-gradient(to top right, #4fcf8fb6, #4fcf8f), url('/Images/headerback.webp');
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* border-bottom-left-radius: 40%; */
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3.5rem;
    align-items: center;
    justify-content: space-between;
}

nav>h6 {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    line-height: 100%;
    letter-spacing: 1px;
}

.custom-w {
    font-size: 3rem;
    color: orange;
}

.nav-items {
    list-style-type: none;
}

.nav-items li {
    display: inline;
    margin-right: 2rem;
}

.nav-items li a {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

.signup {
    background-color: white;
    color: orange !important;
    padding: 1.5rem 4rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.hero__stage {
    padding: 3rem;
    font-size: 1.3rem;
}