*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  font-weight: 100; }

.heading__primary {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.1rem;
  background-image: linear-gradient(120deg, #65d1f8, #43badf);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.heading__sub {
  font-size: 1.4rem;
  line-height: 190%;
  font-weight: 100;
  text-transform: none;
  color: #b6b9b8; }

.heading__tertiary {
  font-size: 1.8rem;
  margin-bottom: .9rem; }

.heading__prefix {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #b6b9b8;
  position: relative; }
  .heading__prefix::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 2px;
    bottom: 8px;
    background-color: #b6b9b8; }

.u-margin-left-large {
  margin-left: 8rem; }

.u-margin-left-medium {
  margin-left: 6rem; }

.u-margin-left-small {
  margin-left: 4rem; }

.u-margin-left-extra-small {
  margin-left: 2rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 4rem; }

.u-margin-bottom-extra-small {
  margin-bottom: 2rem; }

.u-margin-right-medium {
  margin-right: 4rem; }

.u-text-align-center {
  text-align: center; }

.u-margin-top-large {
  margin-top: 7rem; }

.u-margin-top-medium {
  margin-top: 5rem; }

.u-margin-top-small {
  margin-top: 3rem; }

.btn, .btn:link, .btn:active {
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
  cursor: pointer;
  font-weight: 200;
  border-radius: 4rem; }

.btn__full {
  background-color: #ff6a6c;
  color: #fbfdfc;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.288); }
  .btn__full--large {
    padding: 2rem 6rem; }
  .btn__full--small {
    padding: 1rem 5rem;
    color: #fbfdfc !important; }

.btn__ghost {
  border: 1px solid #ff6a6c;
  color: #ff6a6c; }
  .btn__ghost--large {
    padding: 2rem 6rem; }

.btn__text {
  color: #43badf;
  font-style: italic; }

.feature {
  text-align: center;
  padding: 2rem; }
  .feature__icon {
    width: 70%;
    display: inline-block; }
  .feature__paragraph {
    font-size: 1.5rem;
    font-weight: 100;
    color: #b6b9b8; }

.content__column__left {
  width: 90%;
  height: 90%;
  text-align: right;
  padding: 3rem; }
  .content__column__left__image {
    width: 100%;
    height: 100%; }

.content__piece {
  margin-left: 5rem;
  position: relative; }
  .content__piece::after {
    content: "";
    display: table;
    clear: both; }
  .content__piece:not(:last-child) {
    margin-bottom: 1.9rem; }

.content__icon {
  display: inline-block;
  color: #ff6a6c;
  vertical-align: middle;
  position: absolute;
  stroke-width: 3;
  font-weight: bolder;
  top: 6%;
  left: -5%; }

.content__text {
  padding: 1rem; }

.content__img {
  position: absolute;
  width: 10%;
  opacity: .6; }
  .content__img--left {
    top: 28%;
    left: 0; }
  .content__img--right {
    top: 10%;
    right: -5%; }

.header {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-image: url("/img/header-large.png");
  background-position: top; }

.hero {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 15%; }
  .hero__heading {
    font-size: 4.5rem; }
  .hero__paragraph {
    font-size: 1.6rem;
    width: 80%;
    font-weight: 100;
    letter-spacing: .4px;
    word-spacing: 1px;
    line-height: 200%; }
  .hero__buttons {
    display: block; }

.navigation {
  padding: 2rem 10rem; }
  .navigation__nav {
    padding: 2rem; }
    .navigation__nav::after {
      content: "";
      display: table;
      clear: both; }
  .navigation__logo {
    display: inline-block;
    float: left;
    color: #ff6a6c;
    font-size: 2.1rem;
    font-weight: 800; }
  .navigation__list {
    list-style: none;
    float: right;
    margin-right: 10rem; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 4rem; }
  .navigation__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #b6b9b8;
    transition: color .6s;
    padding-bottom: 1rem;
    position: relative; }
    .navigation__link:hover {
      color: #ff6a6c; }

.row {
  max-width: 104rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 20rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem)/2); }

.col-1-of-3 {
  width: calc((100% - 2*(6rem) ) /3); }

.col-2-of-3 {
  width: calc((2*(100% - (2*6rem))/3) + 6rem); }

.col-1-of-4 {
  width: calc( (100% - (3*6rem)) /4); }

.col-2-of-4 {
  width: calc((2*(100% - (3*6rem)) /4) + 6rem); }

.col-3-of-4 {
  width: calc((3*(100% - (3*6rem)) /4) + 2*(6rem)); }

.healing__right {
  text-align: center; }
  .healing__right__image {
    width: 65%; }
    .healing__right__image:last-child {
      width: 90%; }
  .healing__right__img {
    position: absolute;
    width: 13%;
    opacity: .6; }
    .healing__right__img--left {
      top: 32%;
      left: -2%; }
    .healing__right__img--right {
      top: 30%;
      right: -5%; }
      .healing__right__img--right:last-child {
        top: 38%;
        right: -2%; }

.section-why {
  padding: 12rem 0; }

.section-content {
  padding: 8rem 0;
  position: relative;
  overflow: hidden; }

.section-healing {
  padding: 11rem;
  position: relative;
  overflow: hidden; }
