*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  font-weight: 100; }

.u-margin-left-large {
  margin-left: 8rem; }

.u-margin-left-medium {
  margin-left: 6rem; }

.u-margin-left-small {
  margin-left: 4rem; }

.u-margin-left-extra-small {
  margin-left: 2rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 4rem; }

.u-margin-bottom-extra-small {
  margin-bottom: 2rem; }

.u-margin-right-medium {
  margin-right: 4rem; }

.btn, .btn:link, .btn:active {
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
  cursor: pointer;
  font-weight: 200;
  color: #fbfdfc;
  border-radius: 4rem; }

.btn__full {
  background-color: #ff6a6c;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.288); }
  .btn__full--large {
    padding: 2rem 7rem; }

.header {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-image: url("/img/header-large.png"); }

.hero {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 15%; }
  .hero__heading {
    font-size: 4.5rem; }
  .hero__paragraph {
    font-size: 1.5rem;
    width: 80%;
    font-weight: 100;
    letter-spacing: .4px;
    word-spacing: 1px;
    line-height: 200%; }
  .hero__buttons {
    display: block; }

.navigation {
  padding: 2rem 10rem; }
  .navigation__nav {
    padding: 2rem; }
    .navigation__nav::after {
      content: "";
      display: table;
      clear: both; }
  .navigation__logo {
    display: inline-block;
    float: left;
    color: #ff6a6c;
    font-size: 2.1rem;
    font-weight: 800; }
  .navigation__list {
    list-style: none;
    float: right;
    margin-right: 10rem; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 4rem; }
  .navigation__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #b6b9b8;
    transition: color .6s;
    padding-bottom: 1rem;
    position: relative; }
    .navigation__link:hover {
      color: #ff6a6c; }
