:root {
  /* CSS HEX */
  --color-primary-dark: #333132ff;
  --color-gray: rgba(202, 202, 202, 0.849);
  --color-gray-light:#dadadab7;
  --color-primary-white:#f5f5f5ff;
  --color-green-dark: #3ca338ff;
  --color-green-light:#65bb64ff;
  --color-orange: #ff8440ff;
  --desert-sand: #e4be9eff;
  --selective-yellow: #ffbe34ff;
  --alloy-orange: #ba5c0fff;
  --white: #ffffffff;
  --max-row-width:81rem;
  --margin-left-space:12%
; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
  font-weight: 300; }

.header {
  height: 100vh;
  width: 100%; }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    max-width: 100rem;
    margin: 0 auto; }
  .header__dish {
    display: flex;
    height: 89%;
    position: relative; }

.navigation__list {
  list-style-type: none; }

.navigation__item {
  display: inline-block; }
  .navigation__item:not(:last-child) {
    margin-right: 4.1rem; }

.navigation__link {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--color-primary-dark); }

.about {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem; }

.food__categories {
  margin-left: 13%; }

.advert {
  max-width: var(--max-row-width);
  margin: 0 18% 5%;
  padding: 3rem 0; }

.procedures {
  background-color: var(--color-green-dark);
  margin-left: var(--margin-left-space);
  padding: 4rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  position: relative; }
  .procedures::before {
    content: "How It Works";
    position: absolute;
    font-size: 11rem;
    opacity: .1;
    color: #fff;
    top: -2.1rem;
    left: 10rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.section__relatedPost {
  margin-left: var(--margin-left-space);
  padding: 3% 0; }
  .section__relatedPost .collection {
    display: flex;
    align-items: center; }

.section__aid {
  margin-left: var(--margin-left-space);
  background-image: linear-gradient(90deg, var(--color-gray) 60%, var(--selective-yellow) 60%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 7rem 8rem;
  position: relative; }

.u-margin-bottom {
  margin-bottom: 2.5rem; }
