:root {
  /* CSS HEX */
  --color-primary-dark: #333132ff;
  --color-gray: rgba(202, 202, 202, 0.849);
  --color-gray-light:#dadadab7;
  --color-primary-white:#f5f5f5ff;
  --color-green-dark: #3ca338ff;
  --color-green-light:#65bb64ff;
  --color-orange: #ff8440ff;
  --desert-sand: #e4be9eff;
  --selective-yellow: #ffbe34ff;
  --alloy-orange: #ba5c0fff;
  --white: #ffffffff;
  --max-row-width:81rem;
  --margin-left-space:12%
; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
  font-weight: 300; }

.header__logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: cursive; }

.header__logo--photo {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  margin-right: .5rem; }

.header__contact {
  display: flex;
  align-items: center; }

.header__contact--number {
  margin-right: 1.3rem;
  font-weight: 300;
  font-size: 1.3rem; }

.header__contact--icon {
  background-color: var(--color-green-light);
  border-radius: 50%;
  padding: 1rem;
  color: var(--white); }

.dish__details {
  margin-left: 15%;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.dish__heading {
  font-size: 4.5rem;
  font-weight: 500;
  color: var(--color-primary-dark);
  text-transform: uppercase;
  margin-bottom: .9rem; }

.dish__paragraph {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.2rem; }

.dish__nutrients {
  display: flex;
  margin-bottom: 2.5rem;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0; }

.dish__nutrient--heading {
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 6px; }

.dish__nutrient--number {
  font-weight: bold;
  color: var(--color-primary-dark); }

.dish__price, .dish__price:link {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green-dark);
  padding: 1rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  color: var(--white);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  transition: transform 1.1s;
  margin-bottom: 3rem; }

.dish__price--amount {
  font-weight: bold;
  font-size: 1.9rem;
  display: inline-block;
  margin-right: .5rem;
  transition: transform 1s; }

.dish__price--order {
  display: inline-block;
  font-size: 1.3rem;
  transition: transform 1s; }

.dish__price:hover {
  transform: translateY(-0.8rem); }

.dish__price:hover > .dish__price--amount {
  transform: translateX(-0.3rem); }

.dish__price:hover .dish__price--order {
  transform: translateX(0.3rem); }

.dish__page {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  width: 60%;
  font-weight: 100; }
  .dish__page--fnumber {
    color: var(--color-green-dark); }
  .dish__page--lnumber {
    font-size: 1.7rem;
    font-weight: 300; }

.dish__image {
  position: relative; }

.dish__photo {
  width: 55rem;
  height: 55rem; }

.dish__rings {
  position: absolute;
  top: 48%;
  left: 50%;
  border: 1px solid black;
  border-radius: 50%;
  z-index: -2; }
  .dish__rings:nth-child(1) {
    width: calc(15rem*1);
    height: calc(15rem*1);
    opacity: .5;
    opacity: calc(1/1);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(2) {
    width: calc(15rem*2);
    height: calc(15rem*2);
    opacity: .5;
    opacity: calc(1/2);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(3) {
    width: calc(15rem*3);
    height: calc(15rem*3);
    opacity: .5;
    opacity: calc(1/3);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(4) {
    width: calc(15rem*4);
    height: calc(15rem*4);
    opacity: .5;
    opacity: calc(1/4);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(5) {
    width: calc(15rem*5);
    height: calc(15rem*5);
    opacity: .5;
    opacity: calc(1/5);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(6) {
    width: calc(15rem*6);
    height: calc(15rem*6);
    opacity: .5;
    opacity: calc(1/6);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(7) {
    width: calc(15rem*7);
    height: calc(15rem*7);
    opacity: .5;
    opacity: calc(1/7);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }

.dish__stock {
  background-color: var(--color-orange);
  position: absolute;
  right: 0;
  width: 42%;
  height: 100%;
  z-index: -1;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  overflow: hidden; }
  .dish__stock img {
    width: 30rem;
    height: 10rem;
    opacity: .8;
    position: absolute;
    right: 0;
    bottom: 10%;
    transform: rotate(330deg); }
  .dish__stock::before {
    content: "SPECIAL";
    position: absolute;
    transform: rotate(90deg);
    top: 44%;
    left: -1%;
    font-size: 12rem;
    font-family: fantasy;
    text-transform: uppercase;
    color: var(--desert-sand); }

.about__details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.about__content {
  margin-top: 9%;
  margin-left: 1rem; }

.heading__primary {
  font-size: 2.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: --var(--color-gray);
  margin-bottom: 3rem; }

.heading__desc {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%; }

.btn {
  text-decoration: none;
  margin-top: 3rem;
  display: inline-block;
  padding: 1.5rem 7rem;
  background-color: var(--color-orange);
  border-radius: 25px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600; }

.about__ration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  margin: 1rem 0;
  box-shadow: 0 0.1rem 1rem 0.2rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem; }

.ration__heading {
  font-size: 1.4rem;
  width: 20%;
  color: var(--color-primary-dark);
  text-transform: uppercase;
  line-height: 150%; }

.ration__gender {
  width: 25%; }
  .ration__gender--label {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .ration__gender--select {
    border: 1px solid var(--color-gray);
    padding: 1.3rem;
    border-radius: 2rem;
    background-color: transparent;
    width: 100%; }
    .ration__gender--select:focus {
      outline: none; }

.food__types {
  max-width: 60%;
  margin-left: 12%;
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.food__class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 1s;
  backface-visibility: hidden; }

.food__class:hover {
  transform: scale(1.04); }

.food__class:hover .food__class--icon {
  opacity: 0; }

.food__class:hover .food__class--icon-green {
  opacity: 1; }

.food__class--icon {
  opacity: .8;
  margin-bottom: 1rem;
  transition: opacity .7s; }
  .food__class--icon-green {
    position: absolute;
    top: 0;
    opacity: 0; }

.food__class--name {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 1px; }

.food__subs {
  background-color: var(--color-gray-light);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 6rem;
  position: relative;
  margin-top: 1.5rem; }
  .food__subs::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--color-gray-light);
    top: -6.5%;
    left: 16%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

.food__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: flex-start;
  align-content: space-between; }

.food__dish {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 3rem;
  border-radius: .5rem;
  margin-right: 1rem;
  margin-bottom: 1.4rem;
  cursor: pointer;
  flex: 0 0 38%;
  opacity: 1;
  backface-visibility: hidden;
  transition: opacity 1s ,transform 2s; }
  .food__dish:hover {
    opacity: .4;
    transform: translateY(-1.4rem) scale(1.01); }
  .food__dish--photo {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    display: inline-block;
    margin-right: 2.5rem; }

.food__details__name {
  font-size: 1.9rem;
  word-spacing: 2px;
  margin-bottom: 1.8rem; }

.food__details__nutrients {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.advert {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .advert__details {
    flex: 0 0 55%; }
    .advert__details--heading {
      font-size: 2.5rem;
      width: 70%;
      text-transform: uppercase;
      line-height: 130%;
      margin-bottom: 2rem; }
    .advert__details--sub {
      font-size: 1.3rem;
      line-height: 150%;
      width: 90%; }
  .advert__video {
    position: relative; }
    .advert__video--vid {
      height: auto;
      width: 100%;
      border-radius: 10px;
      display: inline-block; }

.procedure {
  flex: 0 0 30%;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .procedure--photo {
    width: 33rem;
    height: 23rem;
    display: inline-block; }
  .procedure--title {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.9rem;
    margin-top: -2rem;
    margin-bottom: 1.2rem;
    margin-left: 14%; }
  .procedure--desc {
    color: #fff;
    font-size: 1.3rem;
    line-height: 150%;
    margin-left: 14%;
    margin-bottom: 3rem; }
  .procedure__line--one {
    position: absolute;
    top: 15%;
    left: 12%;
    width: 400px;
    height: 400px; }
  .procedure-2 {
    margin-top: 7rem; }

.post {
  flex: 0 0 25%; }
  .post:not(:last-child) {
    margin-right: 3rem; }
  .post__top {
    margin-bottom: 1rem;
    display: flex;
    align-items: center; }
    .post__top div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.1rem; }
      .post__top div:not(:last-child) {
        margin-right: 8%; }
    .post__top-icon {
      width: 2rem;
      height: 2rem;
      margin-right: .8rem; }
  .post__photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 2rem; }
  .post__topic {
    font-size: 2.1rem;
    color: var(--color-primary-dark);
    word-break: 10;
    line-height: 130%;
    width: 100%;
    margin-bottom: 1.5rem; }
  .post__readmore {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-green-dark);
    font-weight: 400;
    cursor: pointer;
    transition: transform 2s; }
  .post__symbol {
    margin-right: .8rem;
    transition: margin-right .7s; }
  .post__readmore:hover .post__symbol {
    margin-right: 1.5rem;
    transform: translateX(-20rem); }

@keyframes ping {
  0% {
    transform: translate(-50%, -50%) scale(0.9); }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-50%, -50%) scale(0.9); } }

.header {
  height: 100vh;
  width: 100%; }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    max-width: 100rem;
    margin: 0 auto; }
  .header__dish {
    display: flex;
    height: 89%;
    position: relative; }

.navigation__list {
  list-style-type: none; }

.navigation__item {
  display: inline-block; }
  .navigation__item:not(:last-child) {
    margin-right: 4.1rem; }

.navigation__link {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--color-primary-dark); }

.about {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem; }

.food__categories {
  margin-left: 13%; }

.advert {
  max-width: var(--max-row-width);
  margin: 0 18% 5%;
  padding: 3rem 0; }

.procedures {
  background-color: var(--color-green-dark);
  margin-left: var(--margin-left-space);
  padding: 4rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  position: relative; }
  .procedures::before {
    content: "How It Works";
    position: absolute;
    font-size: 11rem;
    opacity: .1;
    color: #fff;
    top: -2.1rem;
    left: 10rem;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.section__relatedPost {
  margin-left: var(--margin-left-space);
  padding: 3% 0; }
  .section__relatedPost .collection {
    display: flex;
    align-items: center; }

.section__aid {
  margin-left: var(--margin-left-space);
  background-image: linear-gradient(90deg, var(--color-gray) 50%, var(--color-orange) 50%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 4rem 8rem; }
