:root {
  /* CSS HEX */
  --color-primary-dark: #333132ff;
  --color-primary-white:#f5f5f5ff;
  --color-green-dark: #3ca338ff;
  --color-green-light:#65bb64ff;
  --color-orange: #ff8440ff;
  --desert-sand: #e4be9eff;
  --selective-yellow: #ffbe34ff;
  --alloy-orange: #ba5c0fff;
  --white: #ffffffff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
  font-weight: 300; }

.header__logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: cursive; }

.header__logo--photo {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  margin-right: .5rem; }

.header__contact {
  display: flex;
  align-items: center; }

.header__contact--number {
  margin-right: 1.3rem;
  font-weight: 300;
  font-size: 1.3rem; }

.header__contact--icon {
  background-color: var(--color-green-light);
  border-radius: 50%;
  padding: 1rem;
  color: var(--white); }

.dish__details {
  margin-left: 15%;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.dish__heading {
  font-size: 4.5rem;
  font-weight: 500;
  color: var(--color-primary-dark);
  text-transform: uppercase;
  margin-bottom: .9rem; }

.dish__paragraph {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.2rem; }

.dish__nutrients {
  display: flex;
  margin-bottom: 2.5rem;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0; }

.dish__nutrient--heading {
  font-weight: 300; }

.dish__nutrient--number {
  font-weight: bold;
  color: var(--color-primary-dark); }

.dish__price, .dish__price:link {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green-dark);
  padding: 1rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  color: var(--white);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  transition: transform 1.1s;
  margin-bottom: 3rem; }

.dish__price--amount {
  font-weight: bold;
  font-size: 1.9rem;
  display: inline-block;
  margin-right: .5rem;
  transition: transform 1s; }

.dish__price--order {
  display: inline-block;
  font-size: 1.3rem;
  transition: transform 1s; }

.dish__price:hover {
  transform: translateY(-0.8rem); }

.dish__price:hover > .dish__price--amount {
  transform: translateX(-0.3rem); }

.dish__price:hover .dish__price--order {
  transform: translateX(0.3rem); }

.dish__page {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  width: 60%;
  font-weight: 100; }
  .dish__page--fnumber {
    color: var(--color-green-dark); }
  .dish__page--lnumber {
    font-size: 1.7rem;
    font-weight: 300; }

.dish__image {
  position: relative; }

.dish__photo {
  width: 55rem;
  height: 55rem; }

.dish__rings {
  position: absolute;
  top: 48%;
  left: 50%;
  border: 1px solid black;
  border-radius: 50%;
  z-index: -2; }
  .dish__rings:nth-child(1) {
    width: calc(15rem*1);
    height: calc(15rem*1);
    opacity: .5;
    opacity: calc(1/1);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(2) {
    width: calc(15rem*2);
    height: calc(15rem*2);
    opacity: .5;
    opacity: calc(1/2);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(3) {
    width: calc(15rem*3);
    height: calc(15rem*3);
    opacity: .5;
    opacity: calc(1/3);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(4) {
    width: calc(15rem*4);
    height: calc(15rem*4);
    opacity: .5;
    opacity: calc(1/4);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(5) {
    width: calc(15rem*5);
    height: calc(15rem*5);
    opacity: .5;
    opacity: calc(1/5);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(6) {
    width: calc(15rem*6);
    height: calc(15rem*6);
    opacity: .5;
    opacity: calc(1/6);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }
  .dish__rings:nth-child(7) {
    width: calc(15rem*7);
    height: calc(15rem*7);
    opacity: .5;
    opacity: calc(1/7);
    animation: ping 4s linear infinite;
    animation-delay: 2s; }

.dish__stock {
  background-color: var(--color-orange);
  position: absolute;
  right: 0;
  width: 42%;
  height: 100%;
  z-index: -1;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  overflow: hidden; }
  .dish__stock img {
    width: 30rem;
    height: 10rem;
    opacity: .8;
    position: absolute;
    right: 0;
    bottom: 10%;
    transform: rotate(330deg); }
  .dish__stock::before {
    content: "SPECIAL";
    position: absolute;
    transform: rotate(90deg);
    top: 44%;
    left: -1%;
    font-size: 12rem;
    font-family: fantasy;
    text-transform: uppercase;
    color: var(--desert-sand); }

.about__details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.about__content {
  margin-top: 12%; }

.heading__primary {
  font-size: 2.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: --var(--color-primary-dark);
  margin-bottom: 4rem; }

@keyframes ping {
  0% {
    transform: translate(-50%, -50%) scale(0.9); }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-50%, -50%) scale(0.9); } }

.header {
  height: 100vh;
  width: 100%; }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    max-width: 100rem;
    margin: 0 auto; }
  .header__dish {
    display: flex;
    height: 89%;
    position: relative; }

.navigation__list {
  list-style-type: none; }

.navigation__item {
  display: inline-block; }
  .navigation__item:not(:last-child) {
    margin-right: 4.1rem; }

.navigation__link {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--color-primary-dark); }

.about {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem; }
