.header {
  background: url("/Assets/headerBG.png");
  padding: 1.5rem 2rem;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;

  &--logoContainer {
    position: relative;
    @include respond(tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .logo {
    &__image {
      width: 60%;
      height: auto;
    }

    &Contact {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .checkbox {
    display: none;
  }

  .menu {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 2%;
    z-index: 10;
    @include respond(tablet) {
        display: none;
    }
  }

  #toggle:checked + .nav {
    display: none;
  }

  .icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    fill: $color-brown;

    &--menu {
      background-color: $color-brown;
      fill: #fff;
      padding: 5px;
      border-radius: 3px;
    }
  }
}

.headingContainer {
  margin-top: 10%;
  width: 100%;
}

.textBox {
  padding: 10px;
  border: 2px dashed $color-brown;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}

.headingImages {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30%;
}
// .headingImages::before {
//   content: "";
//   width: 100%;
//   height: 100%;
//   background-image: url("/Assets/Glow.png");

// }

.foodContainer {
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.foodbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  &__burger {
    z-index: 10;
    align-items: center;
    width: 100%;
    left: 10rem;
    @include respond(mobileMid) {
      left: 18rem;
    }
  }
  &__fries {
    bottom: -12rem;
    z-index: 9;
    right: -1rem;
    align-items: center;
    @include respond(mobileMid) {
      right: -15rem;
    }
  }
  &__drinks {
    z-index: 9;
    width: 100%;
    align-items: center;
    left: 17rem;
    bottom: -13rem;
    @include respond(mobileMid) {
      left: 25rem;
    }
  }
}

.food {
  &__burger {
    width: 200%;
  }
  &__fries {
    width: 130%;
    @include respond(mobileMid) {
      width: 50%;
    }
  }
  &__drink {
    width: 90%;
  }
  &__shadow {
    width: 40%;
  }
}

.priceContainer {
  position: absolute;
  top: 14rem;
  bottom: 0;
  left: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-red;
  z-index: 100;
  @include respond(mobileMid) {
    left: 10rem;
  }
  &__inner {
    border: 2px dashed #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.text-amount {
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
}
.only-text {
  letter-spacing: 2px;
}
