.header {
  background: url("/Assets/headerBG.png");
  padding: 20px 35px;
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;

  &--logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    &__image {
      width: 70%;
      height: auto;
    }

    &Contact {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    fill: $color-brown;
  }
}

.headingContainer {
  margin-top: 7%;
  width: 60%;
}

.textBox {
  padding: 10px;
  border: 2px dashed $color-brown;
  text-align: center;
  margin-bottom: 1rem;
  width: 35%;
}

.headingImages {
  width: 60%;
  margin-left: auto;
  height: 70%;
  position: absolute;
  right: 0;
  top: 15rem;
  margin-top: -4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headingImages::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/Assets/Glow.png");
  position: absolute;
  top: 0;
  bottom: -10rem;
  left: -15rem;
  opacity: 1;
}

.foodContainer {
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.foodbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  &__burger {
    top: 100px;
    z-index: 10;
    left: 20rem;
    align-items: center;
  }
  &__fries {
    bottom: 0;
    z-index: 9;
    left: 5rem;
    align-items: center;
  }
  &__drinks {
    z-index: 9;
    width: 30%;
    align-items: center;
    right: 8rem;
    bottom: 10px;
  }
}

.food {
  &__burger {
    width: 90%;
  }
  &__fries {
    width: 80%;
  }
  &__drink {
    width: 60%;
  }
  &__shadow {
    width: 40%;
  }
}

.priceContainer {
  position: absolute;
  top: 35rem;
  bottom: 0;
  left: 10rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-red;
  z-index: 100;
  &__inner {
    border: 2px dashed #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.text-amount{
  font-size: 3rem;
  text-align: center;
  color: #fff;
}
.only-text{
  letter-spacing: 2px;
}