//GALLERY SECTION
.gallery__container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: .5rem;
}

.gallery__board{
    border-radius: 10px;
    padding: 2rem 1.5rem;
    
    &--two{
        margin-bottom: 1rem;
        flex: 1;
        background: url('/Assets/Image.png');
        background-size: cover;
        background-position: center;
    }
    &--three{
        flex: 1;
        background: url('/Assets/Image-1.png');
        background-size: cover;
        background-position: center;
    }
    &--left{
        flex: 0 0 45%;
        margin-right: 3.5rem;
        height: 300px;
        background: url('/Assets/burgerbg.png');
        background-size: cover;
        background-position: center;
    }

    &--right{
        flex: 1;
        
        display: flex;
        flex-direction: column;
    }
}