//GALLERY SECTION
.gallery__container{
    @include respond (tablet){
        display: flex;
    align-items: stretch;
    justify-content: center;
    padding: .5rem;
    }
}

.gallery__board{
    border-radius: 10px;
    padding: 2rem 1.5rem;
    width: 100%;

    &:not(:last-child){
        margin-bottom: 2rem;
    }
    
    &--two{
        margin-bottom: 1rem;
        flex: 1;
        background: url('/Assets/Image.png');
        background-size: cover;
        background-position: center;
    }
    &--three{
        flex: 1;
        background: url('/Assets/Image-1.png');
        background-size: cover;
        background-position: center;
    }
    &--left{
        flex: 0 0 45%;
        margin-right: 3.5rem;
        height: 200px;
        background: url('/Assets/burgerbg.png');
        background-size: cover;
        background-position: center;
    }

    &--right{
        flex: 1;
        
        display: flex;
        flex-direction: column;
    }
}


///ORDER SECTION
.badge{
    text-align: center;
    padding: 1rem 2rem;
    background-color: $color-gold;
    margin-bottom: 4rem;
    width: 50%;
    margin: 0 auto 2rem auto;
}

.title__medium{
    color: $color-brown;
    font-weight: 800;
    font-size: .8rem;
}

.section__heading{
    font-size: 2.9rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
    
}

.orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(tablet){
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}


.order{
    &__container{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;
        @include respond(tablet){
            &:not(:last-child){
                margin-right: 4rem;
            }
        }
    }
    &__images{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;
        &--burger{
            width: 50%;
        }
        &--shadow{
            width: 50%;
        }
    }

    &__title{
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
    &__desc{
        color: $color-text;
        text-align: center;
        font-weight: 300;

        
    }
}

.events__container{
    box-shadow: -3px 11px 14px 5px rgba(209,209,209,1);
-webkit-box-shadow: -3px 11px 14px 5px rgba(209,209,209,1);
-moz-box-shadow: -3px 11px 14px 5px rgba(209,209,209,1);
}

.container{
    padding: .5rem;
}

.events__burger--image{
    width: 100%;
}