.section-why{
    padding: 12rem 0;
    @include respond(tab-land){
        padding: 4rem 0;
    }
}

.section-content{
    padding: 3rem 0;
    position: relative;
    overflow: hidden;

    @include respond(tab-land){
        padding: 1rem 0;
    }
}

.section-healing{
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.section-prices{
    padding-top: 2rem;
    position: relative;
    // max-height: 100rem;
    overflow:hidden;
    
    &::after{
        content: "";
        background-image: url('/img/round-cirlce.png');
    // background-position: bottom;
    background-size: cover;
    transform: scale(1.4);
    position: absolute;
    top: 26%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 1s;

    @include respond(tab-port){
        // left: -30%;
        background-position: center;
    }
    }
    
}

