.section-why{
    padding: 12rem 0;
}

.section-content{
    padding: 8rem 0;
    position: relative;
    overflow: hidden;
}

.section-healing{
    padding: 11rem;
    position: relative;
    overflow: hidden;
}