@mixin clearfix {
    &::after{
        display: table;
        clear: both;
        content:""
    }
    
}

@mixin bg-stripe($angle){
    background: linear-gradient(25deg, white 25%,$color-primary 25%,$color-primary-light 65%,white 65%);
}