//PRIMARY COLORS
$color-primary:#FFF567;
$color-primary-light:#fff466;

$color-black:#050306;
$color-white:#fff;

$color-gray-light:#BAB4B4;

$color-green-light:#607346;
$color-green-dark:#607346;


//GRID
$grid-row:114rem;
$gutter-horizontal:6rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;


