//PRIMARY COLORS
$color-primary:#ffd000;
$color-primary-light:#ffe600;

$color-black:#050306;
$color-white:#fff;

$color-gray-light:#BAB4B4;

$color-green-light:#607346;
$color-green-dark:#607346;


//GRID
$grid-row:104rem;
$gutter-horizontal:6rem;
$gutter-vertical:8rem;
$gutter-vertical-small:4rem;


