@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', cursive;
  font-weight: 400;
  color: #3d2514; }

.text-small {
  font-weight: 600;
  font-size: 1.4rem; }

.header {
  background: url("/Assets/headerBG.png") no-repeat center center;
  padding: 20px 35px;
  height: 100vh;
  width: 100%;
  position: relative; }
  .header--logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header .logo__image {
    width: 70%;
    height: auto; }
  .header .logoContact {
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  .header .icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    fill: #3d2514; }

.headingImages {
  width: 40%;
  margin-left: auto;
  background-color: pink;
  height: 100%;
  position: relative;
  margin-top: -4rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.foodContainer {
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.foodbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0; }

.navigation {
  list-style-type: none; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 4.5rem; }
  .navigation__link {
    text-decoration: none;
    font-weight: 500;
    color: #3d2514;
    font-size: 1.4rem;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative; }
    .navigation__link::before {
      content: " ";
      width: 10px;
      height: 3px;
      background-color: #3d2514;
      position: absolute;
      bottom: -10px;
      opacity: .5;
      transition: width .1s linear; }
    .navigation__link:hover::before {
      opacity: 1;
      width: 40px; }

.home {
  padding: 10px; }
