@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', cursive;
  font-weight: 400;
  color: #3d2514; }

.text-small {
  font-weight: 600;
  font-size: 1.4rem; }

.heading__large {
  font-size: 13rem;
  font-weight: 600;
  text-shadow: 2px 8px 3px #FFFFFF; }

.heading__sub {
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 2px 8px 3px #FFFFFF; }

.heading__medium {
  font-size: .9rem;
  font-weight: 500; }
  .heading__medium--caps {
    text-transform: uppercase; }

.header {
  background: url("/Assets/headerBG.png") no-repeat center center;
  padding: 20px 35px;
  height: 100vh;
  width: 100%;
  position: relative; }
  .header--logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header .logo__image {
    width: 70%;
    height: auto; }
  .header .logoContact {
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  .header .icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    fill: #3d2514; }

.headingContainer {
  margin-top: 7%;
  width: 60%; }

.textBox {
  padding: 10px;
  border: 2px dashed #3d2514;
  text-align: center;
  margin-bottom: 1rem;
  width: 35%; }

.headingImages {
  width: 60%;
  margin-left: auto;
  height: 70%;
  position: absolute;
  right: 0;
  top: 15rem;
  margin-top: -4rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.headingImages::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/Assets/Glow.png");
  position: absolute;
  top: 0;
  bottom: -10rem;
  left: -15rem;
  opacity: 1; }

.foodContainer {
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.foodbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute; }
  .foodbox__burger {
    top: 100px;
    z-index: 10;
    left: 20rem;
    align-items: center; }
  .foodbox__fries {
    bottom: 0;
    z-index: 9;
    left: 5rem;
    align-items: center; }
  .foodbox__drinks {
    z-index: 9;
    width: 30%;
    align-items: center;
    right: 8rem;
    bottom: 10px; }

.food__burger {
  width: 90%; }

.food__fries {
  width: 80%; }

.food__drink {
  width: 60%; }

.food__shadow {
  width: 40%; }

.priceContainer {
  position: absolute;
  top: 35rem;
  bottom: 0;
  left: 10rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bf2222;
  z-index: 100; }
  .priceContainer__inner {
    border: 2px dashed #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }

.text-amount {
  font-size: 3rem;
  text-align: center;
  color: #fff; }

.only-text {
  letter-spacing: 2px; }

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0; }

.navigation {
  list-style-type: none; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 4.5rem; }
  .navigation__link {
    text-decoration: none;
    font-weight: 500;
    color: #3d2514;
    font-size: 1.4rem;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative; }
    .navigation__link::before {
      content: " ";
      width: 10px;
      height: 3px;
      background-color: #3d2514;
      position: absolute;
      bottom: -10px;
      opacity: .5;
      transition: width .1s linear; }
    .navigation__link:hover::before {
      opacity: 1;
      width: 40px; }

.home {
  padding: 10px; }
