@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', cursive;
  font-weight: 400;
  color: #3d2514; }

.text-small {
  font-weight: 600;
  font-size: 1.1rem; }

.heading__large {
  font-size: 7rem;
  font-weight: 600;
  text-shadow: 2px 8px 3px #FFFFFF; }

.heading__sub {
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 2px 8px 3px #FFFFFF; }

.heading__medium {
  font-size: .9rem;
  font-weight: 500; }
  .heading__medium--caps {
    text-transform: uppercase; }

.title--small {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Roboto";
  color: #fff; }

.title--large {
  font-size: 1.9rem;
  font-weight: 700;
  margin-top: .5rem;
  color: #fff; }

.header {
  background: url("/Assets/headerBG.png");
  padding: 1.5rem 2rem;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover; }
  .header--logoContainer {
    position: relative; }
  .header .logo__image {
    width: 36%;
    height: auto; }
  .header .logoContact {
    display: flex;
    align-items: center;
    justify-content: center; }
  .header .checkbox {
    display: none; }
  .header .menu {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 2%;
    z-index: 10; }
  .header #toggle:checked + .nav {
    display: none; }
  .header .icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    fill: #3d2514; }
    .header .icon--menu {
      background-color: #3d2514;
      fill: #fff;
      padding: 5px;
      border-radius: 3px; }

.headingContainer {
  margin-top: 10%;
  width: 100%; }

.textBox {
  padding: 10px;
  border: 2px dashed #3d2514;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%; }

.headingImages {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30%; }

.foodContainer {
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.foodbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute; }
  .foodbox__burger {
    z-index: 10;
    align-items: center;
    width: 100%;
    left: 10rem; }
  .foodbox__fries {
    bottom: -12rem;
    z-index: 9;
    right: -1rem;
    align-items: center; }
  .foodbox__drinks {
    z-index: 9;
    width: 100%;
    align-items: center;
    left: 17rem;
    bottom: -13rem; }

.food__burger {
  width: 200%; }

.food__fries {
  width: 130%; }

.food__drink {
  width: 90%; }

.food__shadow {
  width: 40%; }

.priceContainer {
  position: absolute;
  top: 15rem;
  bottom: 0;
  left: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bf2222;
  z-index: 100; }
  .priceContainer__inner {
    border: 2px dashed #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }

.text-amount {
  font-size: 1.8rem;
  text-align: center;
  color: #fff; }

.only-text {
  letter-spacing: 2px; }

.nav {
  margin: 10px 0; }

.navigation {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 1.3rem; }
  .navigation__link {
    text-decoration: none;
    font-weight: 900;
    color: #3d2514;
    font-size: 1.1rem;
    letter-spacing: 2px;
    cursor: pointer;
    width: 100%;
    position: relative; }
    .navigation__link::before {
      content: " ";
      visibility: hidden;
      width: 10px;
      height: 3px;
      background-color: #3d2514;
      position: absolute;
      bottom: -10px;
      opacity: .5;
      transition: width .1s linear; }
    .navigation__link:hover::before {
      opacity: 1;
      width: 40px; }

.gallery__board {
  border-radius: 10px;
  padding: 2rem 1.5rem;
  width: 100%; }
  .gallery__board:not(:last-child) {
    margin-bottom: 2rem; }
  .gallery__board--two {
    margin-bottom: 1rem;
    flex: 1;
    background: url("/Assets/Image.png");
    background-size: cover;
    background-position: center; }
  .gallery__board--three {
    flex: 1;
    background: url("/Assets/Image-1.png");
    background-size: cover;
    background-position: center; }
  .gallery__board--left {
    flex: 0 0 45%;
    margin-right: 3.5rem;
    height: 200px;
    background: url("/Assets/burgerbg.png");
    background-size: cover;
    background-position: center; }
  .gallery__board--right {
    flex: 1;
    display: flex;
    flex-direction: column; }

.home {
  padding: 10px; }

.gallery {
  margin: 7rem 1rem; }
