@keyframes moveInBottom{
    0%{
        transform: translateY(2.4rem);
        opacity: 0;
    }
    85%{
        transform: translateY(.1rem);
        opacity: 4.5;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotateIn{
    0%{
        opacity: 0;
        transform: rotate(360deg);
    }
    
    100%{
        opacity: 1;
        transform: rotate(0);
    }
}