.heading__primary{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2.1rem;
    background-image: linear-gradient(120deg,$baby-blue,$cyan-process); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}

.heading__sub{
    font-size: 1.4rem;
    line-height: 190%;
    font-weight: 100;
    text-transform: none;
    color: $black-olive-light;
}

.heading__tertiary{
    font-size: 1.8rem;
    margin-bottom: .9rem;
    // text-align: center;
}

.heading__prefix{
    padding:  1rem 0;
    font-size: 1.6rem;
    color: $black-olive-light;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 4rem;
        height: 2px;
        bottom: 8px;
        background-color: $black-olive-light;
        
    }
}