.heading__primary{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2.1rem;
    background-image: linear-gradient(120deg,$baby-blue,$cyan-process); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
    @include respond(tab-land){
        font-size: 2.9rem;
        margin-bottom: 1rem;
    }
    @include respond(phone-sm){
      font-size: 2.1rem;
      
    }
    
}

.heading__sub{
    font-size: 1.4rem;
    line-height: 190%;
    font-weight: 100;
    text-transform: none;
    color: $black-olive-light;
    @include respond(phone-sm){
        font-size: 1.1rem;
        line-height: 150%;
        
      }
}

.heading__tertiary{
    font-size: 1.4rem;
    margin-bottom: .9rem;
    @include respond(tab-land){
        font-size: 1.5rem;
    }
    // text-align: center;
}

.heading__prefix{
    padding:  1rem 0;
    font-size: 1.6rem;
    color: $black-olive-light;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 4rem;
        height: 2px;
        bottom: 8px;
        background-color: $black-olive-light;
        
    }
}

.heading__price{
    font-size: 10rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    position: relative;

    &--sub{
        color: $black-olive;
        margin-top: 1rem;
    }

    &::before{
        content: "\0024";
        position: absolute;
        font-size: 3.4rem;
        width: 50px;
        
        height: 50px;
        // background-color: red;
        top: 7%;
        left: 9%;

    }
    &::after{
        content: "\002F Mo";
        position: absolute;
        font-size: 1.8rem;
        width: 50px;
        text-align: center;
        
        height: 50px;
        // background-color: red;
        bottom: -24%;
        right: 9%;
 
    }

    &-2::after{
        content: "\002F Year";
        position: absolute;
        font-size: 1.8rem;
        width: 50px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        height: 50px;
        // background-color: red;
        bottom: -24%;
        right: 9%;
 
    }
}

.heading__card{
    font-size: 2.5rem;
    color: $white;
    font-weight: 900;
    text-transform: uppercase;
}