.u-margin-left-large{
    margin-left: 8rem;
}
.u-margin-left-medium{
    margin-left: 6rem;
}
.u-margin-left-small{
    margin-left: 4rem;
}
.u-margin-left-extra-small{
    margin-left: 2rem;
}

//MARGIN BOTTOM
.u-margin-bottom-large{
    margin-bottom: 8rem;
}
.u-margin-bottom-medium{
    margin-bottom: 6rem;
}
.u-margin-bottom-small{
    margin-bottom: 4rem;
}
.u-margin-bottom-extra-small{
    margin-bottom: 2rem;
}

//MARGIN RIGHT
.u-margin-right-medium{
    margin-right: 4rem;
}
