.btn{
    &,
    &:link,
    &:active{
        text-decoration: none;
        font-size: 1.6rem;
        display: inline-block;
        cursor: pointer;
        font-weight: 200;
        border-radius: 4rem;
    }

    &__full{
        background-color:$light-coral ;
        color: $white;
        // border: 1px solid $white;
        box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.288);
        &--large{
            padding: 2rem 6rem;
        }
        &--small{
            padding: 1rem 5rem;
            color: $white !important;
        }
    }

    &__ghost{
        border: 1px solid $light-coral;
        color: $light-coral;
        &--large{
            padding: 2rem 6rem;
        }
    }

    &__text{
        color: $cyan-process;
        font-style: italic;
    }
    &__card{
        color: $white ;
        padding: 1.5rem 3rem;
        margin-left: 15%;
        margin-top: 15%;
        border: 1px solid $cyan-process;
        background-image: linear-gradient(to right,$cyan-process,$baby-blue);
        box-shadow: 0 .4rem 2rem rgba($color: $baby-blue, $alpha: .6);
        
    }
}
