.btn{
    &,
    &:link,
    &:active{
        text-decoration: none;
        font-size: 1.6rem;
        display: inline-block;
        cursor: pointer;
        font-weight: 200;
        border-radius: 4rem;
        // transition: all 1s;
        backface-visibility: hidden;
        @include respond(tab-land){
            font-size: 1.1rem;
        }
    }

    &__full{
        background-color:$light-coral ;
        color: $white;
        // border: 1px solid $white;
        box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.288);
        &--large{
            padding: 2rem 6rem;
            @include respond(tab-land){
                padding: 1rem 3rem;
            }
            @include respond(phone-md){
                margin-right: .9rem;
            }
            @include respond(phone-sm){
                margin-right: 1rem ;
            }
            @media only screen  and (min-width:20em) and (max-width:30em){
                margin-right: .1rem;
            }
            
        }
        &--small{
            padding: 1rem 5rem;
            color: $white !important;
            
            @include respond(tab-land){
                padding: 1rem 2rem;
            }
        }
    }

    &__ghost{
        border: 1px solid $light-coral;
        color: $light-coral;
        &--large{
            padding: 2rem 6rem;
            @include respond(tab-land){
                padding: 1rem 3rem;
            }
            
        }
    }

    &__text{
        color: $cyan-process;
        font-style: italic;
    }
    &__card{
        color: $white ;
        padding: 1.5rem 3rem;
        margin-left: 15%;
        margin-top: 15%;
        border: 1px solid $cyan-process;
        background-image: linear-gradient(to right,$cyan-process,$baby-blue);
        box-shadow: 0 .1rem 1.4rem rgba($color: $baby-blue, $alpha: .6);

        &-2{
            background-image: linear-gradient(to right,$light-coral 100%,$baby-blue);
            border: 1px solid $light-coral;
            box-shadow: 0 .1rem 1.4rem rgba($color: $light-coral, $alpha: .6);
            margin-left: 20%;
            margin-top: 10%;
        }  
        
    }
    &__animated{
        animation-name: moveInBottom;
        animation-duration: 2s;

        &--rotate{
            animation-name: rotateIn;
            animation-duration: 2s;
        }
    }
}
