.card{
    @include clearfix;
    // background-color: purple;
    padding-top: 3rem;
    padding-left: 5rem;
    position: relative;

    &__container{
        // height: 45rem;
        // margin: 0 auto;
        background-color: $white;
        border-radius: 1rem;
        overflow: hidden;
        // border: 1px solid white;
       box-shadow: 0 3rem 3rem rgba($color: transparent, $alpha: .0) ;
        
        // background-color: blue;
        float: left;
        padding: 3rem 6rem 1rem 3rem;

        &:nth-child(2){
            // background-color: red;
            height: 50rem;
            margin-top: -5rem;
            padding: 0;
            // // position: absolute;
            // top: 0;
            // left: 3%;
        }
        &__content{
            padding: 3rem 6rem 0 3rem;
        }
    }
   
    &__header{
        background-color: $light-coral;
        padding: 2.5rem;
    }

    &__list{
        list-style: none;
    }

    &__item{
        margin-bottom: 1.5rem;
        
    }
    &__icon{
        width: 2em;
        height: 2em;
       background-color: $cyan-process;
       stroke-width: 2;
       border-radius: 50%;
       padding: .3rem;
       margin-right: 1.7rem;
       vertical-align: middle;

       &-2{
           background-color: $light-coral;
       }

       

    }
    &__link{
        text-decoration: none;
        font-size: 1.8rem;
        display: inline-block;
        vertical-align: middle;
        color: $black-olive;
    }
    &__price{
        padding: 1rem;
        text-align: center;
    }
}