.card{
    @include clearfix;
    background-color: purple;
    padding-top: 3rem;
    position: relative;

    &__container{
        // height: 45rem;
        // margin: 0 auto;
        border-radius: 1rem;
       box-shadow: 0 3rem 3rem rgba($color: #000000, $alpha: .3) ;
        
        background-color: blue;
        float: left;
        padding: 3rem 6rem 1rem 3rem;

        &:nth-child(2){
            background-color: red;
            height: 47rem;
            margin-top: -5rem;
            // // position: absolute;
            // top: 0;
            // left: 3%;
        }
    }
   
    &__listcontainer{

    }

    &__list{
        list-style: none;
    }

    &__item{
        margin-bottom: 1.5rem;
        
    }
    &__icon{
        width: 2em;
        height: 2em;
       background-color: $cyan-process;
       stroke-width: 2;
       border-radius: 50%;
       padding: .3rem;
       margin-right: 1.7rem;
       vertical-align: middle;

       

    }
    &__link{
        text-decoration: none;
        font-size: 1.8rem;
        display: inline-block;
        vertical-align: middle;
        color: $black-olive;
    }
    &__price{
        padding: 1rem;
        text-align: center;
    }
}