.feature{
    text-align: center;
    // background-color: red;
    padding: 2rem;

    &__icon{
        width: 70%;
        display: inline-block;
        @include respond(tab-land){
            width: 30%;
            margin-bottom: 2rem;
        }
    }

    &__paragraph{
        font-size: 1.5rem;
        font-weight: 100;
        color: $black-olive-light;
        @include respond(tab-land){
            font-size: 1.1rem;
        }
    }
    
}