.section-details{
    padding: 6rem 12rem;
    position: relative;
    // background-color: red;
    @include respond(tab-port){
        padding: 6rem 5rem;
    }

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 65%;
        height: 100%;
        background-image: linear-gradient(30deg,rgba($bluetiful,0.8) 0%,rgba($bluetiful,0.9) 100%),url("/img/pexels-any-lane-5727892.jpg");
        background-size: cover;
        background-position: center;
        z-index: -1;

        @include respond(phone-md){
            width: 100%;
        }
        
    }
}

.section-expertises{
    background-color: $spanish-gray-light;
    padding: 9rem 12rem;
}

.section-search{
    padding: 13rem 13rem;
    position: relative;
    background-color: rgba($xiketic,0.9);
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 33.3%;
        object-fit: cover;
        height: 100%;
        background-image:url("/img/typing.jpg");
        background-size: cover;
        background-position: center;
        z-index: 1;
        
    }
}

.section-gallery{
    overflow: hidden;
}