@keyframes moveInFromBottom{
    0%{
        transform: translateY(8rem);
        opacity: 0;
    }

    70%{
        transform: translateY(-.5rem);
        opacity: .6;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}