
/*
Font size calculations
16px = 1rem =100%
thus 10px = 62.5%
*/
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato',sans-serif ;
    font-weight: 400;
    box-sizing: border-box;
    // overflow: hidden;
    color: $color-black;
}
