.heading__primary{
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
    transition:  all 1s;
    color: transparent;
    background-image: linear-gradient(to right bottom,$color-black,$color-gray-light);
    -webkit-background-clip: text;
    background-clip: text;
}

.heading__small{
    font-size: 1.7rem;
    font-family: cursive;
    font-weight: 400;
}

.heading__tertiary{
    font-size: 1.7rem;
    font-family: cursive;
    font-weight: 700;
    // background-color: green;
    letter-spacing: 1px;
    margin-top: 1.5rem;
}

.paragraph__primary{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 400;
    hyphens: auto;
    font-family: cursive;
}
