.u-margin-bottom-large{
    margin-bottom: 6rem;
}

.u-margin-bottom-medium{
    margin-bottom: 4rem;
}

.u-margin-bottom-small{
    margin-bottom: 2rem;
}
.u-margin-bottom-extra-small{
    margin-bottom: 1rem;
}

//MARGIN-RIGHT
.u-margin-left-large{
    margin-left: 12rem;
}
.u-margin-left-medium{
    margin-left: 10rem;
}
.u-margin-left-small{
    margin-left: 8rem;
}


//MARGIN TOP
.u-margin-top-large{
    margin-top: 6rem;
}

.u-margin-top-medium{
    margin-top: 4rem;
}

.u-margin-top-small{
    margin-top: 2rem;
}
.u-margin-top-extra-small{
    margin-top: 1rem;
}

.u-text-align-center{
    text-align: center;
}