@keyframes moveInFromBottom {
  0% {
    transform: translateY(8rem);
    opacity: 0; }
  70% {
    transform: translateY(-0.5rem);
    opacity: .6; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

/*
Font size calculations
16px = 1rem =100%
thus 10px = 62.5%
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #050306; }

.heading__primary {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 1s;
  color: transparent;
  background-image: linear-gradient(to right, black, yellow);
  -webkit-background-clip: text;
  background-clip: text; }

.heading__tertiary {
  font-size: 1.7rem;
  font-family: cursive;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 1.5rem; }

.paragraph__primary {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 400;
  hyphens: auto;
  font-family: cursive; }

.u-margin-bottom-large {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-extra-small {
  margin-bottom: 1rem; }

.u-margin-top-large {
  margin-top: 6rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-extra-small {
  margin-top: 1rem; }

.u-text-align-center {
  text-align: center; }

.btn, .btn:link, .btn:active {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(5, 3, 6, 0.4);
  transition: all .3s;
  backface-visibility: hidden; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(0); }

.btn--black {
  background-color: black; }

.btn--animated {
  animation-name: moveInFromBottom;
  animation-duration: 2.5s; }

.service {
  padding: 3rem 1rem;
  text-align: center;
  margin-top: 4rem;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .5s; }
  .service__image {
    width: 35%; }
  .service span {
    display: block; }
  .service:hover {
    transform: translateY(-1rem) scale(1.01); }

.row {
  max-width: 104rem;
  margin: 0 auto; }
  .row::after {
    display: table;
    clear: both;
    content: ""; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc(( 100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - (2*6rem))/3); }
  .row .col-2-of-3 {
    width: calc((2*(100% - (2*6rem))/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3*6rem))/4); }
  .row .col-2-of-4 {
    width: calc((2*(100% - (3*6rem))/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3*(100% - (3*6rem))/4) + 2* 6rem); }

.header {
  height: 100vh;
  position: relative; }
  .header__logo {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    color: black;
    z-index: 20; }
  .header__box {
    position: absolute;
    top: 5%;
    left: 0;
    display: table;
    padding: 0 13rem; }
  .header__image {
    width: 40%;
    float: left;
    margin-left: 1rem; }
  .header__text {
    float: right;
    font-size: 2rem;
    margin-top: 12%; }
    .header__text h4 {
      text-transform: uppercase;
      font-size: 3.5rem;
      line-height: 120%; }
    .header__text p {
      font-family: 'Roboto';
      font-weight: 400;
      text-transform: capitalize; }

.section-about {
  padding: 8rem 0; }

.section-services {
  padding: 8rem 0; }

.about__text {
  padding: 2rem;
  margin-top: 8rem; }

.about__imagePlaceholder {
  padding: 1rem; }

.about__image {
  width: 70%; }
