/*
Font size calculations
16px = 1rem =100%
thus 10px = 62.5%
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #050306; }

.header {
  height: 100vh;
  position: relative;
  background: linear-gradient(25deg, white 25%, #FFF567 25%, #fff466 65%, white 65%); }
  .header__logo {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    color: black;
    z-index: 20; }
  .header__box {
    background-color: red;
    position: absolute;
    width: 40%;
    display: table;
    padding: .5rem 2rem; }
  .header__image {
    width: 45%; }
  .header__text {
    vertical-align: middle;
    font-size: 4rem;
    margin-right: 20%; }
    .header__text h4 {
      text-transform: uppercase; }
