/*
Font size calculations
16px = 1rem =100%
thus 10px = 62.5%
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto',sans-serif;
  font-weight: 900;
  box-sizing: border-box;
  color: #050306; }

.header {
  height: 100vh;
  background-color: #fff;
  position: relative; }
  .header__logo {
    font-size: 2.5rem;
    padding: 1rem 3rem; }
  .header__box {
    background-color: red;
    padding: 1rem 3rem; }
  .header__image {
    width: 35%; }
  .header__text {
    font-size: 2.5rem;
    margin-left: 20rem; }
    .header__text h4 {
      text-transform: uppercase; }
