@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin nav_links {
    font-size: 1.05rem;
    color:$xiketic ;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color .6s;
    &:hover{
        color: $bluetiful;
    }
}

@mixin nebula($width,$height) {
    width: $width;
    height: $height;
    opacity: .6;
}

@mixin clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

