//COLORS
$bluetiful: rgba(17, 107, 255, 1);
$xiketic: rgba(12, 12, 25, 1);
$raisin-black: rgba(48, 50, 63, 1);
$spanish-gray: rgba(155, 156, 161, 1);
$spanish-gray-light: rgba(223, 224, 226, 0.411);
$xiketic-2: rgba(15, 17, 32, 1);
$raw-umber: rgba(113, 98, 81, 1);
$white:rgba(255,255,255,1);

$max-row-width:104rem;


$gutter-vertical:6rem;
$gutter-horizontal:8rem;





