.footer{
    text-align: center;
    z-index: 100;
    // background-color: red;
    
    &__content{
        @include clearfix;
       padding: 5rem 7rem;
        // height: 20rem;
        // font-size: 2rem;
        color: black;
        background-color: rgba($color: $light-cyan, $alpha: .6);
        border-top-left-radius:15rem;
        border-top-right-radius:15rem;
        @include respond(tab-land){
            border-top-left-radius:1rem;
            border-top-right-radius:1rem;
            
        }
        
    }
    &__list{
        list-style: none;
    }

    &__item{
        margin-bottom: 1rem;
    }
    &__link{
        text-decoration: none;
        color: $black-olive;
        font-size: 1.2rem;
        text-transform: capitalize;
    }
}