.row{
    max-width: $max-grid-width;
    // background-color: purple;
    margin: 0 auto;
    @include clearfix;

    @include respond(tab-land){
        max-width: 70rem;
    }

    @include respond(tab-port){
        max-width: 50rem;
    }


    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    [class^="col-"]{
        float: left;
        @include respond(tab-port){
            width: 100% !important;
            margin-bottom: $gutter-vertical-sm;
        }
        &:not(:last-child){
            margin-right: $gutter-horizontal;
            @include respond(tab-port){
                margin-right: 0;
            }
        }
    }

}

.col-1-of-2{
    
    width: calc((100% - #{$gutter-horizontal})/2);
}
.col-1-of-3{
    // background-color: yellow;
    width: calc((100% - 2*(#{$gutter-horizontal}) ) /3);
}
.col-2-of-3{
    
    // width: calc((2*(100% - (2*#{$gutter-horizontal})) /3) +#{$gutter-horizontal});
    width: calc((2*(100% - (2*#{$gutter-horizontal}))/3) + #{$gutter-horizontal})
}

.col-1-of-4{
    // background-color: red;
    width: calc( (100% - (3*#{$gutter-horizontal})) /4 );
}
.col-2-of-4{
    // background-color: green;
    width: calc((2*(100% - (3*#{$gutter-horizontal})) /4) + #{$gutter-horizontal});
    // width: calc((2*(100% - (3*#{$gutter-horizontal}))/4)  + #{$gutter-horizontal})
}
.col-3-of-4{
    // background-color: salmon;
    width: calc((3*(100% - (3*#{$gutter-horizontal})) /4) + 2*(#{$gutter-horizontal}));
}