.header{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-image: url("/img/header-large.png");
    // background-position: bottom;
}
.hero{
    background: red;
    width: 40%;
    position: absolute;
    top: 25%;
    left: 15%;

    &__heading{
        background: blue;
        font-size: 2.5rem;
    }
}
