.navigation{
    position: relative;


    
    

    
    
    padding: 2rem 10rem;

    @include respond(desktop){
        padding: 1rem 2rem;
    }
    @include respond(tab-land){
        padding: .2rem 2rem;
    }
    @include respond(phone-sm){
        padding: 0;
    }

    
    


    &__nav{
        @include clearfix;
        // background-co.lor: blue;
        padding: 2rem;
        @include respond(tab-land){
            padding: 1rem;
        }

        
    }

    &__logo{
        // background-color: red;
        // display: inline-block;
        float: left;
      
        color: $light-coral;
        font-size: 2.1rem;
        font-weight: 800;
        margin-top: .69%;
      
        
    }
    &__button{
        font-size: 2rem;
        vertical-align: middle;
        display: block;
        text-align: right;
        cursor: pointer;
        // margin-right: 2%;
        display: none;

        @include respond(tab-port){
            display: block;
            float: right;
            padding: .3rem;
        }
    
    }

    &__list{
        list-style: none;
        float: right;
        z-index: 10;
        margin-right:10rem; 
        @include respond(tab-land){
            margin-right: 1rem;
        }
        @include respond(tab-port){
            display: none;
            position: relative;
            margin-top: 1%;
            // background-color: red;
            background-color: white;
            width: 100%;
            height: 35rem;
            max-height: 100vh;
            text-align: center;
            // height: 25rem;
            // float: none;
        }
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 4rem;
            @include respond(tab-land){
                margin-right: 2.4rem;
            }
        }
        @include respond(tab-port){
            display: block;
            &:not(:last-child){
                margin-bottom: .5rem;
            }
        }
    }
    &__link{
        text-decoration: none;
        font-size: 1.4rem;
        color: $black-olive-light;
        transition: color .6s;
        padding-bottom: 1rem;
        position: relative;

        @include respond(tab-port){
            display: block;
            padding: .7rem;
        }


        &:hover{
            color: $light-coral;
        }
        
    }

}

#toggle{
    display: none;
    &:checked + .navigation__list{
        display: block;
    }
}