.navigation{
    
    padding: 2rem 10rem;

    &__nav{
        @include clearfix;
        // background-color: blue;
        padding: 2rem;
    }

    &__logo{
        // background-color: red;
        display: inline-block;
        float: left;
        color: $light-coral;
        font-size: 1.9rem;
        font-weight: 700;
    }

    &__list{
        list-style: none;
        float: right;
        margin-right:10rem;
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 4rem;
        }
    }
    &__link{
        text-decoration: none;
        font-size: 1.4rem;
        color: $black-olive-light;
        transition: color .6s;
        padding-bottom: 1rem;
        position: relative;

        // &::after{
        //     content: "";
        //     width:0;
        //     height: 2px;
        //     background-color: red;
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     transition: width 2s linear;
        //     // top: 0;
        // }

        &:hover{
            color: $light-coral;
        }
        // &:hover::after{
        //     background-color: blue;
        //     width: 5rem;
        // }
    }

}