.text-small{
    font-weight: 600;
    font-size: 1.1rem;
}

.heading__large{
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 8px 3px #FFFFFF;
}
.heading__sub{
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 8px 3px #FFFFFF;
}


.heading__medium{
    font-size: .9rem;
    font-weight: 500;

    &--caps{
        text-transform: uppercase;
    }
}


.title{
    
    &--small{
        font-size: 1.3rem;
        font-weight: 400;
        font-family: "Roboto";
        color: #fff;
    }

    &--large{
        font-size: 1.9rem;
        font-weight: 700;
        margin-top: .5rem;
        color: #fff;
    }
}