.footer{
    padding: 16rem 13rem;
    background-image: linear-gradient(40deg,rgba($xiketic,0.9) 100%,rgba($xiketic,0.8) 100%),url("/img/pexels-arina-krasnikova-.jpg");
    background-position: center;
    background-size: cover;
    @include respond(phone-sm){
        padding: 8rem 3rem;
    }
    @media only screen and (min-width:321px) and (max-width:480px){
        padding: 6rem 4rem;
        
    }
    
    &__box{
        width: 70%;
        margin: 0 auto;

        @include respond(phone-sm){
            width: 100%;
        }

        @media only screen and (min-width:321px) and (max-width:480px){
            width: 90%;
        }

    }

    &__profile{
        text-align: center;
        // background-color: red;

        &__name{
            color: $white;
            font-size: 1.5rem;
        }

        &__job{
            color: $white;
            font-size: .9rem;
            font-weight: 200;
        }

    }
    &__image{
        width: 100px;
        height: 100px;
        // padding: 1rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
    }


}