.header{
    position: relative;
    height: 100vh;
    background-color: $white;

    &__ring{
        position: absolute;
        top: 45%;
        left: 65%;
        // transform: translate(-50%,-50%);
        border-radius: 50%;
        border: 1px solid $spanish-gray;
     
        // z-index: -2;
        
        

        // @for $i from 1 through 7{
        //     &:nth-child(#{$i}){
        //         @include nebula(calc(10rem*#{$i}),calc(10rem*#{$i}));
        //         opacity: calc(1/#{$i});
        //     }
        // }
        
        &:nth-child(1){
            @include nebula(20rem,20rem);
            // animation: ping 4s infinite;
            // background-color: red;
        }
        // &:nth-child(2){
        //     @include nebula(40rem,40rem);
        //     // background-color: green;
            
        // }
        // &:nth-child(3){
        //     @include nebula(50rem,50rem);
        //     // background-color: blue;
            
        // }
        // &:nth-child(4){
        //     @include nebula(60rem,60rem);
        //     // background-color: pink;
        // }
    }

    // &__scroll{
    //     padding: 3rem;
    //     border: 1px solid $spanish-gray;
    //     display: inline-block;
    //     font-size: .9rem;
    //     border-radius: 50%;
    // //    outline: 2px solid black;
    // //    outline-offset: 10px;
       
    //    position: absolute;
    //    bottom: 5%;
    //    left: 15%;

    //    &__animated{
    //        animation-name: goRound;
    //        animation-duration: infinite;
    //    }
    // }
}

.hero{
    // background-color: red;
    width: 40%;
    position: absolute;
    top: 45%;
    left: 34%;
    transform: translate(-50%,-50%);
    &__heading{
        font-size: 5rem;
    }
    &__desc{
        font-weight: 400;
        font-size: 1.4rem;
        // color: $spanish-gray;
        font-family: "Roboto";
        margin-bottom: 4rem;
    }
}

.social{
    // background-color: red;
    position: absolute;
    top: 23%;
    left: 3.5%;
    &__list{
        list-style-type: none;
    }
    &__item{
        // background-color: red;
        border: 1px solid $spanish-gray;
        padding: 1rem;
        border-radius: 50%;
        transition: background-color 1s;
        
        cursor: pointer;
        &:not(:last-child){
            margin-bottom: 1rem;
            
        }
        
    }
    &__icon{
        display: inline-block;
        vertical-align: middle;
        // width: 20px;
        // height: 20px;
        transition: color 1s;
        
    }

    &__item:hover{
        background-color:$xiketic ;
        border: none;
    }
    &__item:hover &__icon{
        color: white;
    }

    
}

.back{
    position: absolute;
    bottom: 0;
    right: 0;
    // background-color: red;
    width: 35%;
    height: 55%;
    // z-index: -1;
    
    &__cover{
        width: 100%;
        object-fit: cover;
        height: 100%;
        background-image: linear-gradient(120deg,rgba($bluetiful,.4)100%,$bluetiful),url("/img/header__img--lg.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
        // &::after{
        //     content: "";
        //     width: 4rem;
        //     height: 4rem;
        //     position: absolute;
        //     background-color: red;
        // }
    }
    &__icon{
        color: $white;
        width: 5rem;
        height: 5rem;
        stroke-width: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        // background-color: red;
        transform: translate(-50%,-50%);
        animation: pulse 4s infinite;
    }
   
}
