.navigation{
    // background-color: red;
    
   

    &__nav{
        // background-color: blue;
        @include clearfix;
        padding: 2rem 4rem;   

    }
    &__logo{
        float: left;
        margin-bottom: 1%;
        font-size: 1.7rem;
    }
    &__list{
        list-style-type: none;
        float: left;
        margin-top: .3%;
        margin-left: 5rem;
        
        @media only screen and (max-width:46.625em){
            opacity: 0;
            visibility: hidden;
        }
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 3rem;
        }
    }
    &__link{
        @include nav_links;
    }

    &__auth{
        float: right;
        
        margin-top: .2%;
        @media only screen and (max-width:46.625em){
            opacity: 0;
            visibility: hidden;
        }
        *{
            // background-color: rgb(165, 89, 89);
            @include nav_links;
            &:first-child{
                margin-right: 4rem;
            }
        }
        
    }

    
}


.nav{
    &__checkbox{
        display: none;

        
    }

    &__button{
        position: fixed;
        top: 5%;
        right: 8%;
        width: 7rem;
        height: 7rem;
        background-color: green;
        text-align: center;
        z-index:300 ;
        // &--icon{
        //     width: 10rem;
        //     height: 10rem;
        //     background-color: pink;
        //     position: relative;
        //     // margin-top: 3.5rem;
        // }
    }
    &__background{
        // display: none;
        position: fixed;
        top: 5%;
        right: 8%;
        width: 7rem;
        height: 7rem;
        // background-color: red;
        border-radius: 50%;
        background-image: radial-gradient($xiketic, $spanish-gray);
        z-index: 100;
        opacity: .9;
        transition: transform .9s cubic-bezier(0.86, 0, 0.07, 1) ,opacity .8s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
}


.nav__checkbox:checked ~ .nav__background {
    transform: scale(90);
    opacity: .86;
}