$light-cyan: rgba(212, 251, 250, 1);
$light-coral: rgba(255, 106, 108, 1);
$baby-blue: rgba(101, 209, 248, 1);
$cyan-process: rgba(67, 186, 223, 1);
$white: rgba(251, 253, 252, 1);

$black-olive: rgba(70, 75, 72, 1);
$black-olive-light: rgba(182, 185, 184, 1);


//TEXT
$text-font-size:1.6rem;

//GRID
$max-grid-width:104rem;

$gutter-horizontal:6rem;
$gutter-vertical:14rem;
$gutter-vertical-sm:2rem;



