.heading__primary{
    font-weight: 600;
    color: $white;
    font-size: 2.9rem;
    background-image: linear-gradient(40deg,$spanish-gray 0%,$white 50%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.heading__desc{
    font-weight: 300;
    font-size: 1.4rem;
    color: $white;

}