.heading__primary{
    font-weight: 600;
    color: $white;
    font-size: 3.3rem;
    background-image: linear-gradient(40deg,$xiketic-2 0%,$spanish-gray 50%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.heading__desc{
    font-weight: 300;
    font-size: 1.4rem;
    
    &--white{
        color: $white;
    }
    &--black{
        color:$xiketic;
    }

}

.heading__secondary{
    font-size: 1.6rem;
    color: $xiketic;
    letter-spacing: .5px;
    margin-bottom: .8rem;

    &--white{
        color: $white;
    }
    
    &--desc{
        line-height: 130%;
        font-size: 1.2rem;
        word-spacing: 1px;
        letter-spacing: .5px;
        color: $spanish-gray;
        &--white{
            color: $white;
        }
    }
}