.btn{
&,
&:link,
&:visited{
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    display: inline-block;
    
    
    font-size: 1.3rem;
    border-radius: 2rem;
    transition: all 1s;
    backface-visibility: hidden;

    

   
}

&:active{
    transform: translateY(-.1px);
    box-shadow: 0 .4rem 2rem rgba($color: $xiketic, $alpha: .2);
}
&__small{
    padding: .9rem 5.5rem;
    border: 1px solid rgba($color: $xiketic, $alpha: .2);
    
}
&__large{
    padding: 1.5rem 5rem;
    background-color: $xiketic;
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 .4rem 2rem rgba($color: $xiketic, $alpha: .2);
    }
}


}