.details{
    // background-color: blue;
    padding: 5rem;
    position: relative;
    // z-index: 100;
    @include clearfix;

    // @include respond(phone-md){
    //     text-align: center;
    // }
    
    &__text{
        width: 25%;
        float: left;
        @include respond(phone-md){
            width: 100%;
            text-align: center;
        }
    }

    &__placeholder{
        float: left;
        width: 50rem;
        height: 35rem;  
        
        @include respond(tab-land){
            margin-left: 7%; 
        }
        @include respond(phone-md){
            display: none;
        }
        @media only screen and (max-width:46.625em){
            margin-left: 2%;
            margin-top: 10%;
        }
           
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include respond(phone-md){
            display: none;
        }
    }

    &__plus{
        color: $raw-umber;
        position: absolute;
        top: 9%;
        right: 15%;
        background-color: $white;
        padding: .1rem;
        border-radius: 50%;
        @include respond(phone-md){
            display: none;
        }
        
        &__icon{
            width: 15px;
            height: 15px;
        }

       
    }

    &__note{
        position: absolute;
        width: 10%;
        font-size: .9rem;
        bottom: 20%;
        right: 15%;
        font-weight: bolder;
        transition: rotate 2s ease;
        transform: rotate(270deg);
        @include respond(phone-md){
            display: none;
        }
    }
}