.expertise{

    &__heading{
        width: 50%;
        margin: 0 auto;
    }

    &__featureCollection{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        background-color: red;
        padding: 1rem;
    }
}