.gallery{
    
    &__list{
        list-style-type: none;
        width: 100%;
        @include clearfix;
        
    }
    &__item{
        display: block;
        float: left;
        width: 33.3%;
        cursor: pointer;
        position: relative;
        // transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
        overflow: hidden;

        &::after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            background-color: red;
            height: 100%;
            width: 100%;
            opacity: 0;
            
        }

        &:hover{
            
            
        }
        
    }
    &__image{
        width: 100%;
        transform: scale(1.006);
        // background-color: red;
        
        // transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
        img{
            width: 100%;
            margin: 0;
            object-fit: cover;
            
        }
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        
        // background: red;
        border: 2px solid $white;
        border-radius:50%;
        color: black;
        display:table;
        height: 70%;
        width: 70%;
        margin:0 auto;
        z-index: 90;
        transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: translate(-50%,-50%);
        // transform: translateY(1rem);
        opacity: 0;
        
        div{
            display:table-cell;
            vertical-align:middle;
            height:70%;
            width:70%;
            text-align:center;
            padding: 0 15px;
        }
        
    }
    &__item:hover &__caption{
        transform: translate(-50%,-60%);
        opacity: 1;
    }

   
}