.gallery{
    
    &__list{
        list-style-type: none;
        width: 100%;
        @include clearfix;
    }
    &__item{
        display: block;
        float: left;
        width: 33.3%;
        
    }
    &__image{
        width: 100%;
        transform: scale(1.006);
        img{
            width: 100%;
            margin: 0;
            object-fit: cover;
        }
    }
}