.search{
    @include clearfix;

    &__text{
        float:right;
        width: 30%;

        @include respond(phone-md){
            width: 54%;
            z-index: 100;
            // margin-left: 199rem;
        }
    }

    
}

.logos{
    position: absolute;
    width: 35%;
    height: 75%;
    background-color: rgba($color: $xiketic, $alpha: .7);
    // background-color: red;
    z-index: 2;
    left: 33.35%;
    top: 52%;
    transform: translate(-50%,-50%);

    @include respond(phone-md){
        opacity: 0;
        display: none;
    }

    &__list{
        list-style-type: none;
        @include clearfix;
        overflow: hidden;

    }

    &__item{
        width: 50%;
        height:225px;
        // background-color: blue;
        // display: inline-block;
        float: left;
        
        position: relative;
        &:nth-child(1){
            border-bottom: 1px solid $white;
        }
        &:nth-child(2){
            background-color: $bluetiful;
            border-bottom: 1px solid $white;
        }
        &:nth-child(4){
            background-color: $xiketic;
        }
    }

    &__img{
        @include centerElement;
    }
    &__play{
        @include centerElement;
        background-color: $white;
        padding: 5rem;
        font-size: 1.5rem;
        border-radius: 50%;
    }
}