.sub-services{
    text-align: center;
    // padding: 4rem;
    // height: 12rem;
    padding: 2rem 1rem;

    

    &__heading{
        text-align: right;
        // height: 4rem;
    }

    h2{
        display: inline-block;
        padding: 1rem 2rem;
        
    }
    &__images{
        display: inline-block;
        padding: 2rem;
    }
    &__image{
        width:45% ;
        vertical-align: middle;
        &:not(:last-child){
            margin-right: 2.3rem;
        }
    }
}