.testimonial{
    padding: 7rem 15rem;
    position: relative;
    background-color: $color-primary-light;

    &__message{
        font-size: 2.1rem;
        text-align: left;
        position: relative;
        @include respond(phone){
            font-size: 2.5rem;
        }
        @include respond(phone-small){
            font-size: 3.5rem;
            letter-spacing: 1px;
        }


        &::selection{
            background-color: violet;
        }
        

        &::before{
            content: "\201C";
            position: absolute;
            font-size: 12rem;
            // background-color: red;
            top: -6rem;
            left: -3rem;
            // font-family: cursive;
        }


        
    }
}

.slide__buttons__container{
    cursor: pointer;

    .slide__buttons{
        cursor: pointer;
        display: inline-block;
        padding: 1rem 2rem;
        text-align: center;
        width: 100px;
        height: 100px;
        @include respond(phone){
            width: 60px;
            height: 60px;
        }
        @include respond(phone-small){
            width: 30px;
            height: 30px;
        }
    }
    
    .button__image{
        width: 100%;
        height: 100%;
        
    }

    .button__left{
        position: absolute;
        left: 0rem;
        top: 17rem;
        @include respond(tab-port){
            top: 20rem;
        }
        @include respond(phone-small){
            top: 35rem;
        }
    }

    .button__right{
        position: absolute;
        right: 0rem;
        top: 17rem;
        @include respond(tab-port){
            top: 20rem;
        }
        @include respond(phone-small){
            top: 35rem;
        }
    }

    
    
    
}