.home{
    padding: 10px;
}

.gallery{
    margin: 7rem 1rem 0 1rem;
     @include respond(tablet){

     }
}

.order__section{
    margin: 4rem 1rem;
}

.events{
    padding: 1rem;
    margin: 1rem;
}