.footer{
    padding: 10rem 0;
    position: relative;

    &__details{
        // background-color: purple;
        padding: 1rem 10rem 1rem 0;
        @include clearfix;
    }

    &__address{
        float: left;
        padding: 1rem;
        margin-right: 7rem;
        // background-color: yellow;
    }

    &__address-list{
        list-style-type: none;
    }
    &__address-item{
        // padding: .5rem 0rem;
        a{
            display: inline-block;
            // background-color: red;
            font-size: 1.7rem;
            text-decoration: none;
            font-family: cursive;
            color: $color-black;

        }

    }



    //SOCIAL ICONS
    &__socialIcons{
        // background-color: red;
        float: left;
        margin-left: 8rem;
        margin-top: 11rem;
        .social__icon{
            width: 10%;
            &:not(:last-child){
                margin-right: 1.9rem;
            }
        }
    }

    //FOOTER LOGO
    &__logo{
        float: left;
        margin-top: 10rem;
        margin-left: 8rem;
        font-size: 3.5rem;
        font-weight: 700;

    }

    &__last{
        position: absolute;
        right: 0;
        width: 60%;
        bottom: 0;
        font-size: 1.9rem;
        color: $color-white;
        background-color: black;
        padding: 2rem 5rem;
        text-align: center;
        a{
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            transition: all 1s;
            display: inline-block;
            backface-visibility: hidden;
            &:hover{
                background-color: $color-primary;
                padding: .2rem;
                color: black;
                margin-left: 1rem;
                transform: scale(1.1) skewY(4deg);
                
            }
        }
    }
}

