.footer{
    padding: 10rem 0;
    position: relative;
    // z-index: 100;

    &::after{
        width: 100%;
        content: "";
        position: absolute;
        top: 0;
        z-index:-1;
        left:0;
        background-color: $color-primary;
        // background-color: rgba($color: $color-primary, $alpha: .5);
        height: 100%;
        // background-color: red;
    clip-path: polygon( 0 100%, 60% 100%, 0 0);
    @include respond(tab-port){
        clip-path: polygon( 0 100%, 55% 100%, 0 0);
    }
    }

    &__details{
        // background-color: purple;
        padding: 1rem 10rem 1rem 0;
        @include clearfix;
       
    }

    &__address{
        float: left;
        padding: 1rem;
        margin-right: 7rem;
        @include respond(tab-port){
            float: none;
            text-align: center;
        }
        // background-color: yellow;
    }

    &__address-list{
        list-style-type: none;
    }
    &__address-item{
        // padding: .5rem 0rem;
        a{
            display: inline-block;
            // background-color: red;
            font-size: 1.7rem;
            text-decoration: none;
            font-family: cursive;
            color: $color-black;
            @include respond(phone){
                font-size: 2.1rem;
            }

        }

    }



    //SOCIAL ICONS
    &__socialIcons{
        // background-color: red;
        float: left;
        margin-left: 8rem;
        margin-top: 11rem;
        .social__icon{
            width: 10%;
            &:not(:last-child){
                margin-right: 1.9rem;
                
            }
            @include respond(tab-port){
                width: 5%;
            }
        }
        @include respond(tab-port){
            float: none;
            text-align: center;
            margin-top: 4rem;
        }
    }

    //FOOTER LOGO
    &__logo{
        float: left;
        margin-top: 10rem;
        margin-left: 8rem;
        font-size: 3.5rem;
        font-weight: 700;
        @include respond(tab-port){
            float: none;
            text-align: center;
            margin-top: 3rem;
        }

    }

    &__last{
        position: absolute;
        right: 0;
        width: 60%;
        bottom: 0;
        font-size: 1.9rem;
        z-index: -2;
        color: $color-white;
        background-color: black;
        padding: 2rem 5rem;
        text-align: right;
        @include respond(tab-port){
            text-align: right;
            padding: 2rem 3rem;
        }
        
        a{
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            transition: all 1s;
            display: inline-block;
            backface-visibility: hidden;
            &:hover{
                background-color: $color-primary;
                padding: .2rem;
                color: black;
                margin-left: 1rem;
                transform: scale(1.1) skewY(4deg);
                
            }
        }
    }
}

