.header{
    height: 100vh;
    // background-color: $color-white;
    position: relative;
    @include bg-stripe;
    
    &__logo{
        font-size: 2.5rem;
        padding: 1rem 2rem;
        color: black;
        z-index: 20;

    }

    &__box{
    //    background-color: red;
       position: absolute;
       top: 5%;
       left: 0;

    //    width: 90%;
    //    margin: -1rem auto;
       display: table;
       padding: 0 13rem;
       
    }

    &__image{
        width: 40%;
        float: left;
        margin-left: 1rem;
       
    }

    &__text{
        float: right;
        font-size: 2rem;
        margin-top: 15%;
        // margin-right: 20%;
        h4{
            text-transform: uppercase;
            font-size: 4rem;
            line-height: 120%;
        }
        p{
            font-family: 'Roboto';
            font-weight: 600;
            text-transform: capitalize;
            
        }
    }


}