.header{
    height: 100vh;
    // background-color: $color-white;
    position: relative;
    @include bg-stripe;
    
    &__logo{
        font-size: 2.5rem;
        padding: 1rem 2rem;
        color: black;
        z-index: 20;

    }

    &__box{
       background-color: red;
       position: absolute;
       width: 40%;
       display: table;
       padding: .5rem 2rem;
    }

    &__image{
        width: 45%;
       
    }

    &__text{
        
        vertical-align: middle;
        font-size: 4rem;
        margin-right: 20%;

        h4{
            text-transform: uppercase;

        }
    }


}