//HEADER COMPONENTS 
.header{
    &__logo{
     display: flex;
     align-items: center;   
     font-weight: 500;
     font-size: 1.5rem;
     font-family: cursive;
    }
    
    &__logo--photo{
        width: 4rem;
        height: 4rem;
        display: inline-block;
        margin-right: .5rem;

    }

    &__contact--icon{
        &-bg{
            width: 3rem;
            height: 3rem;
            fill: pink;
            
        }
        width: 2rem;
        height: 2rem;
        // background-color: var(--color-green-light);
        // border-radius: 50%;
        fill: var(--white);
        display: inline-block;
        
    }
}