//HEADER COMPONENTS 
.header{
    &__logo{
     display: flex;
     align-items: center;   
     font-weight: 500;
     font-size: 1.5rem;
     font-family: cursive;
    }

    &__logo--photo{
        width: 4rem;
        height: 4rem;
        display: inline-block;
        margin-right: .5rem;

    }

    &__contact{
        display: flex;
        align-items: center;
    }

    &__contact--number{
        margin-right: 1.3rem;
        font-weight: 300;
        font-size: 1.3rem;
    }

    &__contact--icon{
        background-color: var(--color-green-light);
        border-radius: 50%;
        padding: 1rem;
        color: var(--white);
        
    }
}


//HEADER CONTENT
.dish{
    &__details{
        background-color: red;
        margin-left: 15%;
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}