.header{
    height: 100vh;
    width: 100%;
    // background-color: red;
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: blue;
        padding: 1.3rem;
        max-width: 100rem;
        margin: 0 auto;
    }

    &__dish{
        display: flex;
        height: 89%;
        // background-color: blue;
        position: relative;

    }
}

.navigation{
    &__nav{
    //    background-color: red;
    //    margin-right: auto;
    }

    &__list {
        list-style-type: none;
    }

    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 4.1rem;
        }
    }

    &__link{
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 300;
        color: var(--color-primary-dark);

    }
}


.about{
    max-width: 90rem;
    // background-color: red;
    margin: 0 auto;
    padding: 2rem;
}

.food__categories{
    // background-color: red;
    margin-left: 13%;
    // height: 40rem;
}


.advert{
    // background-color: red;
    max-width: var(--max-row-width);
    margin: 0 18%;
    padding: 3rem 0;
    // overflow: hidden;
}


.procedure{
    background-color: var(--color-primary-dark);
    margin-left: var(--margin-left-space);
    padding: 5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
}
