.header{
    height: 100vh;
    width: 100%;
    // background-color: red;
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: blue;
        padding: 1.3rem;
        max-width: 100rem;
        margin: 0 auto;
    }

    &__dish{
        display: flex;
        height: 89%;
        // background-color: blue;
        position: relative;

    }
}

.navigation{
    &__nav{
    //    background-color: red;
    //    margin-right: auto;
    }

    &__list {
        list-style-type: none;
    }

    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 4.1rem;
        }
    }

    &__link{
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 300;
        color: var(--color-primary-dark);

    }
}


.about{
    max-width: 90rem;
    // background-color: red;
    margin: 0 auto;
    padding: 2rem;
}

.food__categories{
    // background-color: red;
    margin-left: 13%;
    // height: 40rem;
}


.advert{
    // background-color: red;
    max-width: var(--max-row-width);
    margin: 0 18% 5%;
    padding: 3rem 0;
    // overflow: hidden;
}


.procedures{
    background-color: var(--color-green-dark);
    margin-left: var(--margin-left-space);
    padding: 4rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    &::before{
        content: "How It Works";
        position: absolute;
        font-size: 11rem;
        opacity: .1;
        color: #fff;
        top:-2.1rem;
        left: 10rem;
        text-transform: uppercase;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}


.section__relatedPost{
    // background: red;
    margin-left: var(--margin-left-space);
    padding: 3% 0;

    .collection{
       display: flex;
       align-items: center;
       
       
    }
}


.section__aid{
    margin-left: var(--margin-left-space);
}
