/*
0-320PX SMALL PHONE
320-600PX PHONE MD
600-900 TABLET PORTRAIT
900-1200 TABLET LANDSCAPE
1200>   DESKTOP
1800    LARGER DESKTOPS

GRID ==> TYPOGRAPHY==> GENERAL LAYOUT ==>PAGE LAYOUTS ==>COMPONENTS
*/
@keyframes goRound {
  100% {
    transform: rotate(360deg); } }

@keyframes pulse {
  0% {
    transform: scale(0.95); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(0.95); } }

@keyframes ping {
  0% {
    transform: translate(-50%, -50%) scale(0.9); }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-50%, -50%) scale(0.9); } }

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.2); }
  100% {
    box-shadow: 0 0 0 8rem rgba(255, 255, 255, 0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 20em) {
    html {
      font-size: 43.75%; } }

body {
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  box-sizing: border-box; }

.heading__primary {
  font-weight: 600;
  color: white;
  font-size: 3.3rem;
  background-image: linear-gradient(40deg, #0f1120 0%, #9b9ca1 50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; }
  .heading__primary--white {
    background-image: linear-gradient(40deg, #9b9ca1 0%, white 50%); }

.heading__desc {
  font-weight: 300;
  font-size: 1.4rem; }
  .heading__desc--white {
    color: white; }
  .heading__desc--black {
    color: #0c0c19; }

.heading__secondary {
  font-size: 1.6rem;
  color: #0c0c19;
  letter-spacing: .5px;
  margin-bottom: .8rem; }
  .heading__secondary--white {
    color: white; }
  .heading__secondary--desc {
    line-height: 130%;
    font-size: 1.2rem;
    word-spacing: 1px;
    letter-spacing: .5px;
    color: #9b9ca1; }
    @media only screen and (max-width: 56.25em) {
      .heading__secondary--desc {
        margin-bottom: 3rem !important; } }
    .heading__secondary--desc--white {
      color: white; }

.paragraph__desc {
  font-size: 1.8rem;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  line-height: 190%; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-text-align-center {
  text-align: center; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  border-radius: 2rem;
  transition: all 1s;
  backface-visibility: hidden; }

.btn:active {
  transform: translateY(-0.1px);
  box-shadow: 0 0.4rem 2rem rgba(12, 12, 25, 0.2); }

.btn__small {
  padding: .9rem 5.5rem;
  border: 1px solid rgba(12, 12, 25, 0.2); }

.btn__large {
  padding: 1.5rem 5rem;
  background-color: #0c0c19; }
  .btn__large:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.4rem 2rem rgba(12, 12, 25, 0.2); }

.btn__ghost {
  padding: 1.5rem 5rem;
  border: 2px solid rgba(255, 255, 255, 0.5); }
  .btn__ghost:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.4rem 2rem rgba(12, 12, 25, 0.2); }

.details {
  padding: 5rem;
  position: relative; }
  .details::after {
    content: "";
    clear: both;
    display: table; }
  .details__text {
    width: 25%;
    float: left; }
    @media only screen and (max-width: 37.5em) {
      .details__text {
        width: 100%;
        text-align: center; } }
  .details__placeholder {
    float: left;
    width: 50rem;
    height: 35rem;
    margin-left: 14%; }
    @media only screen and (max-width: 75em) {
      .details__placeholder {
        margin-left: 7%; } }
    @media only screen and (max-width: 37.5em) {
      .details__placeholder {
        display: none; } }
    @media only screen and (max-width: 46.625em) {
      .details__placeholder {
        margin-left: 2%;
        margin-top: 10%; } }
  .details__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media only screen and (max-width: 37.5em) {
      .details__img {
        display: none; } }
  .details__plus {
    color: #716251;
    position: absolute;
    top: 9%;
    right: 15%;
    background-color: white;
    padding: .1rem;
    border-radius: 50%; }
    @media only screen and (max-width: 37.5em) {
      .details__plus {
        display: none; } }
    .details__plus__icon {
      width: 15px;
      height: 15px; }
  .details__note {
    position: absolute;
    width: 10%;
    font-size: .9rem;
    bottom: 20%;
    right: 15%;
    font-weight: bolder;
    transition: rotate 2s ease;
    transform: rotate(270deg); }
    @media only screen and (max-width: 37.5em) {
      .details__note {
        display: none; } }

.expertise__heading {
  width: 50%;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .expertise__heading {
      width: 70%; } }
  @media only screen and (max-width: 37.5em) {
    .expertise__heading {
      width: 90%; } }

.expertise__featureCollection {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.3); }
  .expertise__featureCollection::after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (max-width: 20em) {
    .expertise__featureCollection {
      width: 100%; } }

.expertise__feature {
  padding: 2rem;
  cursor: pointer;
  transition: transform 1s;
  backface-visibility: hidden; }
  @media only screen and (max-width: 56.25em) {
    .expertise__feature {
      padding: 3rem; } }
  .expertise__feature:hover {
    transform: translateY(-0.5rem) scale(1.01); }
  .expertise__feature:hover .btn__small {
    background-color: #0c0c19; }
  .expertise__feature__image {
    object-fit: cover;
    width: 40%;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .expertise__feature__image {
        width: 20%; } }

.search::after {
  content: "";
  clear: both;
  display: table; }

.search__text {
  float: right;
  width: 30%; }
  @media only screen and (max-width: 37.5em) {
    .search__text {
      width: 54%;
      z-index: 100; } }
  @media only screen and (max-width: 20em) {
    .search__text {
      width: 90%;
      z-index: 100; } }
  @media only screen and (min-width: 321px) and (max-width: 480px) {
    .search__text {
      width: 80%; } }

.logos {
  position: absolute;
  width: 35%;
  height: 75%;
  background-color: rgba(12, 12, 25, 0.7);
  z-index: 2;
  left: 33.35%;
  top: 52%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 37.5em) {
    .logos {
      opacity: 0;
      display: none; } }
  .logos__list {
    list-style-type: none;
    overflow: hidden; }
    .logos__list::after {
      content: "";
      clear: both;
      display: table; }
  .logos__item {
    width: 50%;
    height: 225px;
    float: left;
    position: relative; }
    .logos__item:nth-child(1) {
      border-bottom: 1px solid white; }
    .logos__item:nth-child(2) {
      background-color: #116bff;
      border-bottom: 1px solid white; }
    .logos__item:nth-child(4) {
      background-color: #0c0c19; }
  .logos__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .logos__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 5rem;
    font-size: 1.5rem;
    border-radius: 50%; }

.gallery__list {
  list-style-type: none;
  width: 100%; }
  .gallery__list::after {
    content: "";
    clear: both;
    display: table; }

.gallery__item {
  display: block;
  float: left;
  width: 33.3%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform: scale(1.004); }
  @media only screen and (max-width: 20em) {
    .gallery__item {
      width: 100%; } }
  @media only screen and (min-width: 321px) and (max-width: 480px) {
    .gallery__item {
      width: 100%; } }
  .gallery__item::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: red;
    height: 100%;
    width: 100%;
    opacity: 0; }

.gallery__image {
  width: 100%;
  transform: scale(1.006); }
  .gallery__image img {
    width: 100%;
    margin: 0;
    object-fit: cover; }

.gallery__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid white;
  border-radius: 50%;
  color: black;
  display: table;
  height: 70%;
  width: 70%;
  margin: 0 auto;
  z-index: 90;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate(-50%, -50%);
  opacity: 0; }
  .gallery__caption div {
    display: table-cell;
    vertical-align: middle;
    height: 70%;
    width: 70%;
    text-align: center;
    padding: 0 15px; }

.gallery__item:hover .gallery__caption {
  transform: translate(-50%, -60%);
  opacity: 1; }

.header {
  position: relative;
  height: 100vh;
  background-color: white; }
  .header__ring {
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #9b9ca1; }
    @media only screen and (max-width: 37.5em) {
      .header__ring {
        top: 55%;
        left: 50%; } }
    .header__ring:nth-child(1) {
      width: calc(10rem*1);
      height: calc(10rem*1);
      opacity: .6;
      opacity: calc(1/1);
      animation: ping 4s linear infinite;
      animation-delay: 2s; }
      @media only screen and (max-width: 37.5em) {
        .header__ring:nth-child(1) {
          width: calc(7rem*1);
          height: calc(7rem*1);
          opacity: .6; } }
    .header__ring:nth-child(2) {
      width: calc(10rem*2);
      height: calc(10rem*2);
      opacity: .6;
      opacity: calc(1/2);
      animation: ping 4s linear infinite;
      animation-delay: 2s; }
      @media only screen and (max-width: 37.5em) {
        .header__ring:nth-child(2) {
          width: calc(7rem*2);
          height: calc(7rem*2);
          opacity: .6; } }
    .header__ring:nth-child(3) {
      width: calc(10rem*3);
      height: calc(10rem*3);
      opacity: .6;
      opacity: calc(1/3);
      animation: ping 4s linear infinite;
      animation-delay: 2s; }
      @media only screen and (max-width: 37.5em) {
        .header__ring:nth-child(3) {
          width: calc(7rem*3);
          height: calc(7rem*3);
          opacity: .6; } }
    .header__ring:nth-child(4) {
      width: calc(10rem*4);
      height: calc(10rem*4);
      opacity: .6;
      opacity: calc(1/4);
      animation: ping 4s linear infinite;
      animation-delay: 2s; }
      @media only screen and (max-width: 37.5em) {
        .header__ring:nth-child(4) {
          width: calc(7rem*4);
          height: calc(7rem*4);
          opacity: .6; } }
    .header__ring:nth-child(5) {
      width: calc(10rem*5);
      height: calc(10rem*5);
      opacity: .6;
      opacity: calc(1/5);
      animation: ping 4s linear infinite;
      animation-delay: 2s; }
      @media only screen and (max-width: 37.5em) {
        .header__ring:nth-child(5) {
          width: calc(7rem*5);
          height: calc(7rem*5);
          opacity: .6; } }
    .header__ring:nth-child(6) {
      width: calc(10rem*6);
      height: calc(10rem*6);
      opacity: .6;
      opacity: calc(1/6);
      animation: ping 4s linear infinite;
      animation-delay: 2s; }
      @media only screen and (max-width: 37.5em) {
        .header__ring:nth-child(6) {
          width: calc(7rem*6);
          height: calc(7rem*6);
          opacity: .6; } }
    .header__ring:nth-child(7) {
      width: calc(10rem*7);
      height: calc(10rem*7);
      opacity: .6;
      opacity: calc(1/7);
      animation: ping 4s linear infinite;
      animation-delay: 2s; }
      @media only screen and (max-width: 37.5em) {
        .header__ring:nth-child(7) {
          width: calc(7rem*7);
          height: calc(7rem*7);
          opacity: .6; } }

.hero {
  width: 40%;
  position: absolute;
  top: 45%;
  left: 34%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 75em) {
    .hero {
      top: 57%; } }
  @media only screen and (max-width: 56.25em) {
    .hero {
      top: 53%; } }
  @media only screen and (max-width: 37.5em) {
    .hero {
      top: 50%;
      left: 50%; } }
  @media only screen and (max-width: 20em) {
    .hero {
      width: 60%;
      left: 60%; } }
  @media only screen and (min-width: 321px) and (max-width: 480px) {
    .hero {
      width: 50%; } }
  .hero__heading {
    font-size: 5rem; }
    @media only screen and (max-width: 75em) {
      .hero__heading {
        font-size: 4.1rem; } }
    @media only screen and (max-width: 56.25em) {
      .hero__heading {
        font-size: 3.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero__heading {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 20em) {
      .hero__heading {
        font-size: 2.5rem; } }
    @media only screen and (min-width: 321px) and (max-width: 480px) {
      .hero__heading {
        font-size: 2.0rem; } }
  .hero__desc {
    font-weight: 400;
    font-size: 1.4rem;
    font-family: "Roboto";
    margin-bottom: 4rem; }

.social {
  position: absolute;
  top: 23%;
  left: 3.5%; }
  .social__list {
    list-style-type: none; }
  .social__item {
    border: 1px solid #9b9ca1;
    padding: 1rem;
    border-radius: 50%;
    transition: background-color 1s;
    cursor: pointer; }
    .social__item:not(:last-child) {
      margin-bottom: 1rem; }
  .social__icon {
    display: inline-block;
    vertical-align: middle;
    transition: color 1s; }
    @media only screen and (max-width: 37.5em) {
      .social__icon {
        width: 15px;
        height: 15px; } }
  .social__item:hover {
    background-color: #0c0c19;
    border: none; }
  .social__item:hover .social__icon {
    color: white; }

.back {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 55%; }
  @media only screen and (max-width: 37.5em) {
    .back {
      opacity: 0;
      visibility: hidden; } }
  .back__cover {
    width: 100%;
    object-fit: cover;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(17, 107, 255, 0.4) 100%, #116bff), url("/img/pexels-arina-krasnikova-.jpg");
    background-position: center;
    background-size: cover;
    position: relative; }
  .back__icon {
    color: white;
    width: 5rem;
    height: 5rem;
    stroke-width: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ripple 4s infinite; }

.navigation__nav {
  padding: 2rem 4rem; }
  .navigation__nav::after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (max-width: 46.625em) {
    .navigation__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 200;
      width: 100%;
      transition: all 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95); } }

.navigation__logo {
  float: left;
  margin-bottom: 1%;
  font-size: 1.7rem;
  padding: 2rem; }

.navigation__list {
  list-style-type: none;
  float: left;
  margin-top: .3%;
  margin-left: 5rem; }
  @media only screen and (max-width: 46.625em) {
    .navigation__list {
      position: absolute;
      top: 50%;
      left: 43%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 2s cubic-bezier(0.19, 1, 0.22, 1); } }

.navigation__item {
  display: inline-block; }
  .navigation__item:not(:last-child) {
    margin-right: 3rem; }
    @media only screen and (max-width: 46.625em) {
      .navigation__item:not(:last-child) {
        margin-bottom: 1rem; } }
  @media only screen and (max-width: 46.625em) {
    .navigation__item {
      display: block; } }

.navigation__link {
  font-size: 1.05rem;
  color: #0c0c19;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color .6s; }
  .navigation__link:hover {
    color: #116bff; }
  @media only screen and (max-width: 46.625em) {
    .navigation__link:hover {
      transform: translateY(-1rem) scale(1.09);
      color: white;
      opacity: .9; } }
  @media only screen and (max-width: 46.625em) {
    .navigation__link {
      font-size: 3.5rem;
      background-image: linear-gradient(40deg, #0f1120 0%, #9b9ca1 50%);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      transition: translate 5s ease-out; } }

.navigation__auth {
  float: right;
  margin-top: .2%; }
  @media only screen and (max-width: 46.625em) {
    .navigation__auth {
      opacity: 0;
      visibility: hidden; } }
  .navigation__auth * {
    font-size: 1.05rem;
    color: #0c0c19;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color .6s; }
    .navigation__auth *:hover {
      color: #116bff; }
    @media only screen and (max-width: 46.625em) {
      .navigation__auth *:hover {
        transform: translateY(-1rem) scale(1.09);
        color: white;
        opacity: .9; } }
    .navigation__auth *:first-child {
      margin-right: 4rem; }

.nav__checkbox {
  display: none; }

.nav__button {
  position: fixed;
  top: 5%;
  right: 8%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  z-index: 300; }
  .nav__button--icon, .nav__button--icon2 {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 3rem;
    color: black;
    transform: all 2s ease-out; }
  .nav__button--icon2 {
    display: none; }
  @media only screen and (min-width: 746px) {
    .nav__button {
      right: 4%; } }
  @media only screen and (min-width: 747px) {
    .nav__button {
      display: none; } }

.nav__background {
  position: fixed;
  top: 5%;
  right: 8%;
  width: 5rem;
  height: 5rem;
  opacity: 0;
  border-radius: 50%;
  background-image: radial-gradient(#0c0c19, #9b9ca1);
  z-index: 100;
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1); }
  @media only screen and (min-width: 746px) {
    .nav__background {
      right: 4%; } }

.nav__checkbox:checked ~ .nav__background {
  transform: scale(90);
  opacity: .95; }

.nav__checkbox:checked + .nav__button > .nav__button--icon {
  color: white;
  display: none; }

.nav__checkbox:checked + .nav__button > .nav__button--icon2 {
  color: white;
  display: block; }

.nav__checkbox:checked ~ .navigation__nav > .navigation__list {
  opacity: 1; }

.row {
  max-width: 104rem;
  margin: 0 auto;
  color: white; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 75rem; } }
  .row:not(:last-child) {
    margin-bottom: 6rem; }

[class^="col"] {
  float: left; }
  @media only screen and (max-width: 56.25em) {
    [class^="col"] {
      width: 100% !important; } }
  [class^="col"]:not(:last-child) {
    margin-right: 8rem; }
    @media only screen and (max-width: 56.25em) {
      [class^="col"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem; } }

.col-1-of-2 {
  width: calc((100% - 8rem)/2); }

.col-1-of-3 {
  width: calc((100% - 2*(8rem) )/3); }

.col-2-of-3 {
  width: calc((2*(100% - (2*8rem))/3) + 8rem); }

.col-1-of-4 {
  width: calc((100% - 3*(8rem) )/4); }

.col-2-of-4 {
  width: calc((2*(100% - 3*(8rem)) /4) + 8rem); }

.col-3-of-4 {
  width: calc((3*(100% - (3*8rem))/4) + (2*8rem)); }

.footer {
  padding: 16rem 13rem;
  background-image: linear-gradient(40deg, rgba(12, 12, 25, 0.9) 100%, rgba(12, 12, 25, 0.8) 100%), url("/img/pexels-arina-krasnikova-.jpg");
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 20em) {
    .footer {
      padding: 8rem 3rem; } }
  @media only screen and (min-width: 321px) and (max-width: 480px) {
    .footer {
      padding: 6rem 4rem; } }
  .footer__box {
    width: 70%;
    margin: 0 auto; }
    @media only screen and (max-width: 20em) {
      .footer__box {
        width: 100%; } }
    @media only screen and (min-width: 321px) and (max-width: 480px) {
      .footer__box {
        width: 90%; } }
  .footer__profile {
    text-align: center; }
    .footer__profile__name {
      color: white;
      font-size: 1.5rem; }
    .footer__profile__job {
      color: white;
      font-size: .9rem;
      font-weight: 200; }
  .footer__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem; }

.section-details {
  padding: 6rem 12rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-details {
      padding: 6rem 5rem; } }
  .section-details::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-image: linear-gradient(30deg, rgba(17, 107, 255, 0.8) 0%, rgba(17, 107, 255, 0.9) 100%), url("/img/pexels-any-lane-5727892.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1; }
    @media only screen and (max-width: 37.5em) {
      .section-details::after {
        width: 100%; } }

.section-expertises {
  background-color: rgba(223, 224, 226, 0.411);
  padding: 9rem 12rem; }
  @media only screen and (max-width: 37.5em) {
    .section-expertises {
      padding: 9rem 6rem; } }

.section-search {
  padding: 13rem 13rem;
  position: relative;
  background-color: rgba(12, 12, 25, 0.9); }
  @media only screen and (max-width: 37.5em) {
    .section-search {
      padding: 13rem 6rem; } }
  .section-search::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 33.3%;
    object-fit: cover;
    height: 100%;
    background-image: url("/img/typing.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1; }
    @media only screen and (max-width: 20em) {
      .section-search::after {
        display: none; } }
    @media only screen and (min-width: 321px) and (max-width: 480px) {
      .section-search::after {
        opacity: 0;
        display: none; } }

.section-gallery {
  overflow: hidden; }
