*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  box-sizing: border-box; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

.header {
  position: relative;
  height: 100vh;
  background-color: white; }

.hero {
  width: 40%;
  position: absolute;
  top: 45%;
  left: 34%;
  transform: translate(-50%, -50%); }
  .hero__heading {
    font-size: 5rem; }
  .hero__desc {
    font-weight: 400;
    font-size: 1.4rem;
    font-family: "Roboto";
    margin-bottom: 3rem; }

.navigation__nav {
  padding: 2rem 4rem; }
  .navigation__nav::after {
    content: "";
    display: table;
    clear: both; }

.navigation__logo {
  float: left;
  margin-bottom: 1%;
  font-size: 1.7rem; }

.navigation__list {
  list-style-type: none;
  float: left;
  margin-top: .3%;
  margin-left: 5rem; }

.navigation__item {
  display: inline-block; }
  .navigation__item:not(:last-child) {
    margin-right: 3rem; }

.navigation__link {
  font-size: 1.05rem;
  color: #0c0c19;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color .6s; }
  .navigation__link:hover {
    color: #116bff; }

.navigation__auth {
  float: right;
  margin-top: .2%; }
  .navigation__auth * {
    font-size: 1.05rem;
    color: #0c0c19;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color .6s; }
    .navigation__auth *:hover {
      color: #116bff; }
    .navigation__auth *:first-child {
      margin-right: 4rem; }
